.modal-dialog{margin:0px 0 !important;padding:15px 0 !important;}
.invalid {
    color: red;
}
.search_title {
    text-align: center;
}
.autocomplete-suggestions {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #0f081a none repeat scroll 0 0;
    border-color: -moz-use-text-color #e66a45 #e66a45;
    border-image: none;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    height: 250px;
    max-height: initial !important;
    overflow: auto;
    padding: 5px 0;
}
.autocomplete-suggestion:hover, .autocomplete-suggestion:active, .autocomplete-suggestion:focus {
    background: #ea6b48 none repeat scroll 0 0;
}
.autocomplete-suggestion {
    cursor: pointer;
    line-height: 25px;
    padding: 0 10px;
    transition: all 0.3s ease 0s;
}
h1.search_title_inner {
    background: rgba(234, 107, 72, 0.4) none repeat scroll 0 0;
    border-bottom: 1px solid #d43823;
    border-top: 1px solid #d43823;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 15px;
    padding: 10px 0;
}
.update_profile span img, span.level3_content_box_img {
    display: block;
}
/*.upload_image .update_profile span img{
    display: none;
}*/
.alert {
    background-color: #dd4c3b;
    border-radius: 2px;
    margin: 15px auto 0;
    max-width: 767px;
    position: relative;
    z-index: 999;
}
.alert.danger {
    border: medium none #dd4c3b;
    color: rgba(255, 255, 255, 0.84);
    z-index: auto;
}
.alert button {
    font-size: 18px;
    opacity: 1;
    text-shadow: none;
}
.alert.danger button {
    color: rgba(255, 255, 255, 0.84);
}
.alert.alert-basic button {
    color: #e66a45;
}
.alert.alert-success button {
    /*color: #25ff00;*/
    color: inherit;
}
.no_data {
    color: #d66141;
    font-size: 20px;
}
.multicheckbox_l4 {
    padding-bottom: 30px;
}
.navbar-cst .nav.nav_basic > li a:hover .user_detail_image {
    border-color: #d43823;
}
.alert-info-msg {
    background-color: #03a9f4 !important;
    color: rgba(255, 255, 255, 0.84) !important;
    z-index: 100;
}
.alert-succ-msg {
    background-color: #4caf50 !important;
    color: rgba(255, 255, 255, 0.84) !important;
    border:none !important;
}
.hide_bg_hint {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    height: 100px;
}
.btn.cst_sponsor_dash {
    margin: 0;
    width: inherit;
}
.btn_edit {
    color: #fff;
    font-size: 20px;
}
.cst_mid_btn {
    margin: 0;
}
.cst_status th {
    width: 20%;
}
.marginbtm {
    margin-bottom: 30px;
}
.cong.cong_btn {
    position: relative;
}
.share_individual.social_footer a {
    float: right;
}
.share_individual {
    font-size: 20px;
}
.l4_basic_simplex_question_answer label.right2_answer {
    border: 2px solid #03ff03;
    color: #03ff03;
    font-weight: 600;
}
.l4_basic_simplex_question_answer label.wrong2_answer {
    border: 2px solid #ff0000;
    color: #ff0000;
    font-weight: 600;
}
.male_female {
    position: relative;
}

#gender_error_msg {
    bottom: -20px;
    left: -9px;
    margin: 0;
    position: absolute;
}
.hmlintro .modal-body .para_holder {
    font-size: 16px;
    font-weight: 100;
    max-height: 350px;
    overflow: auto;
}
.colorYellow {
    color: #ffff00;
    font-weight: bold;
}
.colorRed {
    color: #ff0000;
}
.colorWhite {
    color: #ffffff;
    font-weight: bold;
    text-align: justify;
}
.textCenter {
    text-align: center;
}
.paddingB10 {
    padding-bottom: 10px !important;
}
#err {
    color: #f44336;
    display: block;
    padding-top: 15px;
    text-align: center;
}
.back_me_other {
    color: #e66a45;
    font-size: 18px;
    left: 0;
    text-align: center;
    text-decoration: none !important;
    top: -15px;
    transition: all 0.5s ease 0s;
    width: 15.66%;
}
.level-3 .h_boost {
    background-color: #cc93ad;
}
.level-4 .h_boost {
    background-color: #fdd1a1;
}
.l4i_popup_image {
    margin-top: 20px;
    text-align: center;
}
.back_me.left10 {
    left: 11px;
}
.fontWeight {
    font-weight: 600;
}
.mit0 {
    margin-top: 0 !important;
}
.mrTop15 {
    margin-top: 15px;
}
.yes0 {
    color: #ffff00;
    font-weight: bold;
}
.no0 {
    color: #e56a45;
    font-weight: bold;
}
.rightCheckColor{color: #e66a45;     font-size: 22px;}
.navbar-cst.navbar{border-bottom: none;background: #161c22;}
.title_border{padding-bottom: 0;}
.coin_summary .left span{
        font-family: ab;
    font-size: 30px;
    line-height: 1.2;
    color: #fd604b;
    margin-bottom: 30px;
}
.challenge_container h1{font-family: ab;
    font-size: 30px;
    line-height: 1.2;
    color: #fd604b;
}
.vs_box .challenging_profession h1 span{color: #27a6b5;font-size: 18px;}
.vs_box .research a{border-radius: 0;}
.vs_box .research a.research {
    background: #27a6b5;
    border-radius: 0;
}
.vs_box .research a.research:hover{background:#49c7d6;}
.vs_box .research a.accept {
    background: #fd604b;
}
.vs_box{border: 2px solid #f15f4c;}
.btn.invite_teen_btn{
    display: inline-block;
        color: #fff;
    background: #fd604b;
    /* width: 100%; */
    font-family: hn-b;
    font-size: 20px;
    line-height: 1.35;
    padding: 14px 15px;
    border-color: #fd604b;
    margin-bottom: 0;
    border-radius: 0;
    height: auto;
}
.btn.invite_teen_btn:hover{
    background: #27a6b5 !important;border-color: #27a6b5 !important;
}
.coin_summary .left span{margin-top: 10px;}
.coin_summary .left .coin_count_ttl{
        font-size: 35px;
    /* font-style: italic; */
    font-weight: 600;
    color: #27a6b5;
    font-family: 'ab';
}
.sponsor_table tr th {
    color: #f15f4c;
    font-family: hn-b;
    font-size: 15px;
}
.rlink{color: #f15f4c;}
.rlink:hover, .rlink:active, .rlink:focus{color:#27a6b5; }
.title_border:before{display: none;}
.login_form h1 {
    font-size: 39px;
    text-transform: capitalize;
    color: #27a6b5;
    margin-bottom: 24px;
    font-family: ab;
    font-weight: 500;
}
.sponsor_table {
    border-right: 1px solid #ff5f44;
    font-family: 'h';
    font-size: 14px;
    color: #000;
    font-weight: 400;
}
.my_teens_inner .login_form,.sponsor_table tr th, .sponsor_table tr td{border-color: #ff5f44;}
.sponsor_table a{font-family: 'h';}
.coupon_control .gift{
    background: #f15f4c;
    float: none;
    color: #fff;
    font-weight: 400;
    border-radius: 0;
    font-size: 15px;
    font-family: hn-b;
}
.gift.no_ani:hover, .gift.no_ani:active{float: none !important}
.coupon_control .gift-btn{width: auto;margin-bottom: 0;padding: 7px 10px;text-transform: capitalize;text-align: center;}
.coupon_control .gift-btn:hover{color: #fff;}
.coupon_control .gift-btn.sending{padding: 6px 40px 7px 15px;width: auto;}
.coupon_control .gift:after{background-image: none;}
footer {
    bottom: 0;
    height:auto;
    width: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.65);
    background-color: #161c22;
    padding: 50px 0;
    color: #dfe0e1;
    font-size: 16px;
    font-family: hb;
}
.primary_footer{border-top: none;}
.mCSB_scrollTools.mCSB_scrollTools_horizontal{
        height: 4px;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar{height: 4px;margin: 0 auto;}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{    background-color: rgba(253,96,75,0.6);}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail{height: 1px;margin-left: 2px 0 0;}
.cst_input_primary{
        height: 42px;
    border-color: #161c22;
    font-size: 17px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 6px 38px 6px 12px;
    color: rgba(22,28,34,.7);
}
.select-style select,.select-style{border-color: #161c22;
    font-size: 16px;color: rgba(22,28,34,.7);}
.submenu-container .btns .btn{
    border-color: #ff5f44;
    background-color: #ff5f44;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    font-size: 14px;
    border-radius: 0;
    padding: 6px 12px;
    /* display: inline-block; */
    line-height: 2;
    text-transform: uppercase;
    /* font-weight: 400; */
    font-family: 'h';
    margin: 0 auto;
    width: auto;
    }
.submenu-container .btns .btn:hover{    color: #fff;
    background-color: #f11f03;
    border-color: #ce1a02;}
h1{font-family: ab;font-size: 30px;line-height: 1.2;color: #fd604b;}
.btn.primary_btn{background: #fd604b;border-radius: 0;}
.input_icon_parent.select-style:after{border-left: 1px solid #161c22;}
.input_icon:before,.input_icon_parent:before{font-family: 'fontawesome';font-size: 26px;color:rgba(22,28,34,.7);background-image: none;top: 4px;}
.name:before,.pair_with_teen:before{content: '\f007';}
.company_name:before{content: '\f1ad';}
.address:before,.state_icon:before,.city_icon:before{content: '\f124';}
.pincode:before{content: '\f041';}
.email:before{content: '\f0e0';}
.country:before, .country_icon:before{content: '\f0ac';}
.title_icon:before{content: '\f15b';}
.mobile:before{content: '\f10b';}
.password:before{content: '\f13e';}
.select-style select option {color: rgba(22,28,34,.7);padding: 0;background: #eeeeef;}
.modal.fade.in {background: #eeeeef !important;}
.modal-content {background: #eeeeef;}
.modal-content{border: 1px solid rgba(0,0,0,.2);background: #fff;box-shadow: 0 5px 15px rgba(0,0,0,.5);}
.parameters .boxy{border: 2px solid #ff5f44;background: transparent;}
.default_popup h2.title{border-color: #e5e5e5;}
.parameters .boxy h3{color: #ff5f44;}
.radio_cont .square_radio:checked ~ label.high, .radio_cont .square_radio ~ label.high, .high_label {color: #07c9a7;}
.radio_cont .square_radio:checked ~ label.mid, .radio_cont .square_radio ~ label.mid ,.mid_label {color: #f1c246;}
.radio_cont .square_radio:checked ~ label.low, .radio_cont .square_radio ~ label.low, .low_label {color: #f58634;}
.title_border .parent_assessment_header_text,.parent_assessment h1{color:#ff5f44 !important;  }
.parameters .boxy h3:after{border-color: #fd604b;}
.modal.in button.close.close_next{background: #fd604b;}
.btn:not(.btn-raised):not(.btn-link):focus, .btn:not(.btn-raised):not(.btn-link):hover, .input-group-btn .btn:not(.btn-raised):not(.btn-link):focus, .input-group-btn .btn:not(.btn-raised):not(.btn-link):hover{background-color: #f11f03;}
.ui-widget-overlay {background: rgba(0,0,0,0.5);}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-dialog-buttons{    box-shadow: 0 5px 15px rgba(0,0,0,.5);background-color: #fff;background-clip: padding-box;   font-family: hl;font-size: 16px;color: #565b5f;border: 1px solid rgba(0,0,0,.2);}
.ui-widget-header{    font-family: ab;font-weight: 500; font-size: 24px;color: #ff5f44;text-align: left;}
.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix{border-color: #e5e5e5;}
.ui-widget-content{    font-family: hl;font-size: 16px;color: #565b5f;background:#fff;border-color: #e5e5e5;}
.ui-widget-header{background: #fff;}
.sec-procoins{padding: 0;}
.sec-procoins .list-procoins{margin: 0 auto;}
.sec-procoins .list-procoins .block-procoins{background: #fff;}
.sec-procoins .list-procoins .block-procoins .btn-primary{height: auto;border-radius: 0;}
.search_container{color: #565b5f;background: transparent;}
.search_container .search_input::-webkit-input-placeholder ,
.input_icon .cst_input_primary::-webkit-input-placeholder,
.sponsor_account_form .cst_input_primary::-webkit-input-placeholder{ /* Chrome/Opera/Safari */
  color: #565b5f !important;
}
.search_container .search_input::-moz-placeholder ,.input_icon .cst_input_primary::-moz-placeholder,
.sponsor_account_form .cst_input_primary::-moz-placeholder{ /* Firefox 19+ */
  color: #565b5f !important;
}
.search_container .search_input:-ms-input-placeholder ,.input_icon .cst_input_primary:-ms-input-placeholder,
.sponsor_account_form .cst_input_primary:-ms-input-placeholder{ /* IE 10+ */
  color: #565b5f !important;
}
.search_container .search_input:-moz-placeholder ,.input_icon .cst_input_primary:-moz-placeholder,
.sponsor_account_form .cst_input_primary:-moz-placeholder{ /* Firefox 18- */
  color: #565b5f !important;
}
ul.nav.nav-tabs{border-bottom: none;background: #eeeeef;}
ul.nav.nav-tabs li{padding: 0 20px;margin:0;border-radius: 0;background: transparent;}
.custom-tab-container .custom-tab a>span{padding:0 25px;}
ul.nav.nav-tabs li:hover a:after, ul.nav.nav-tabs li.active a:after{width: 50px;height: 110px;left: auto;}
ul.nav.nav-tabs li:hover a, ul.nav.nav-tabs li.active a{position: static;}
ul.nav.nav-tabs li:hover, ul.nav.nav-tabs li.active{background: none;}
.tab-content{background: transparent;}
.sec-consumption .gift-search .form-group .form-control,.procoin-heading .procoin-form .form-group .form-control{background-image: none;margin-bottom: 0; }
.sec-consumption .gift-search .search-bar,.gift-heading .gift-form .search-bar{padding-bottom: 0;margin:0 auto 15px;}
.gift-heading, .gift-heading .gift-form{padding-top: 0;}
.custom_checkbox:not(:checked)+label:before, .custom_checkbox:checked+label:before{background: transparent;}
.my_box{background: transparent;}
.file_type_button.with_label label{color: #565b5f;border-radius: 0;border: 1px solid #f15f4c;}
.file_type_button.with_label span.btn{border-radius: 0;border-color: #f15f4c;}
.upload_image p{background: #eeeeef;color:#565b5f; }
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #fd432a;
    border-color: #fd432a;
}
.pagination{border-radius: 0;}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #fd432a;
    text-decoration: none;
    background-color:#fff;
    border: 1px solid #ddd;
}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}
.yes0{color: #65c6e6;}
.btn_edit{color: #f15f4c;}
.promiseplus {
    color: #f15f4c;
}
.btn_golden_border {
    border: 2px solid #f15f4c !important;line-height: 1.5;border-radius: 0;
}
.coinouter{background: #f15f4c;}
.coinsnum{color: #fff;}
.l-1 span.level_label, .l-2 span.level_label, .l-3 span.level_label, .l-4 span.level_label, .dashboard_inner_box h2,.profession_attempted h2{color: #333333;}
.l-1 span.level_label,.l-2 span.level_label, .l-3 span.level_label,.l-4 span.level_label{background: transparent;}
.profession_attempted{clear: both;}
.timeline table td.timeline_icon .box{background: #eeeeef;}
.timeline table tr.alpha td.timeline_icon .box:before {border-color: #fd604b;}
.timeline table tr.alpha td.timeline_icon .box:after {background-color: #fd604b;}
.timeline table tr.alpha{color: #fd604b;}
.timeline table tr.beta {color: #66c6e6;}
.timeline table tr.beta td.timeline_icon .box:before {border-color: #66c6e6;}
.timeline table tr.beta td.timeline_icon .box:after {background-color: #66c6e6;}
.timeline table tr.gamma td.timeline_icon .box:after {background-color: #73376d;}
.timeline table tr.gamma td.timeline_icon .box:before {border-color: #73376d;}
.timeline table tr.gamma {color: #73376d;}
.timeline table tr.delta {color: #f2c337;}
.timeline table tr.delta td.timeline_icon .box:before {border-color: #f2c337;}
.timeline table tr.delta td.timeline_icon .box:after {background-color: #f2c337;}
.interest{border-color: #fd604b;background: transparent;}
.procoins-amt {padding: 6px 6px;font-family: 'h';border: 1px solid #161c22;}
.my_teens_content{padding: 0 20px;}
.procoins-gift .gift-table .table tr td .gft-btn{border-radius: 0;color: #fff;height: auto;line-height: 1.6;}
a.btn.primary_btn.invite_teen_btn {padding: 10px;}
textarea.cst_input_primary{resize: vertical;}
.detail_container{border: none;}
.pair_with_teen .sec-popup{position: absolute;top: 4px;right: 20px;}
.pair_with_teen .sec-popup a{font-size: 25px;}
.front_page, .back_page, .slider_card .full_path{background: #fff;}
.slider_card{color:#565b5f;border-color: #fff;padding: 15px; }
.parent_h2_header{margin-bottom: 20px;}
.intrest_content .my_chart h4{font-size: 26px;color: #565b5f;line-height: 30px;font-family: ht;margin: 15px 0;}
.slider_card .full_path .inner_path{color: #565b5f;}
.data-dashboard .data{display: inline-block;float: none;}
.multiple-heading{font-family: 'h';font-size: 18px;}
.parent_h2_header h2.parent_h2_text{font-size: 22px;}
.parent_h2_header h2.parent_h2_text {font-size: 28px;font-family: 'am';color: #27a6b5;border-bottom: none;}
.intrest_content .my_chart{width: 100%;}
.level-1{background-color: #fd604b;}
.level-2{background-color: #66c6e6;}
.level-3{background-color: #27a6b6;}
.level-4{background-color: #73376d;}
.level-5{background-color: #07c9a7;}
.center_detial{color: #fff;}
.rightCheckColor{color: #fd604b;}
/*#mail_submit_form .table_container{border-left: 0;}*/
.popover, .tooltip-inner{background: #fff;padding: 10px;line-height: 1.5;border: 1px solid rgba(0,0,0,.2);}
nav.fixed-navigation{z-index: 9999;}
.sec-login .login-form .form-sec form .form-control{border: 1px solid #161c22;padding: 6px 12px;font-family: 'h';}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus input:-webkit-autofill, textarea:-webkit-autofill, textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {
    border: 1px solid #161c22;
    -webkit-text-fill-color: #161c22;
    -webkit-box-shadow: none;
    -webkit-transition: background-color 5000s ease-in-out 0s;
    -o-transition: background-color 5000s ease-in-out 0s;
    -moz-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s;
    background: transparent !important;
}
.sec-login .login-form .form-sec .btn{height: auto;border-radius: 0;}
.sec-login .login-form .icon{-webkit-transform: rotate(0deg);-ms-transform: rotate(0deg);-o-transform: rotate(0deg);transform: rotate(0deg);font-size: 100px;}
.popover.bottom>.arrow{display: block;}
h2 .tooltip-inner {color: #161c22;background: #fff!important;}
body{background-image : none !important; background-color: #eeeeef;font-family: 'h';font-size: 14px;color: #333;padding-bottom: 160px;}
a, a:focus, a:hover{color: #d81c02;}
body.fixed-nav{padding-bottom: 130px;}
.card span.title{font-family: ab;line-height: 1.2;color: #27a6b5;}
.card span.count, .profession_attempted_carousel{color: #f15f4c;}
.card{border-color: #fff;background: #fff;border-radius: 0;}
.profession_attempted_carousel .owl-nav{color: #161c22;}
.main-menu .menu-container h2{font-family: 'ab';font-size: 44px;}
.icon-close{cursor: pointer;}
.sec-login{background: #fff;}
.sec-login h1 {
    font-family: am;
    font-size: 44px;
    color: rgba(22,28,34,.9);
    font-weight: 500;
    margin-bottom: 15px;
}
.visibility-pwd img {
    position: absolute;
    right: 21px;
    top: 10px;
    cursor: pointer;
}
.submit_register {margin-bottom: 20px;}
.frgt-pwd-text p,.frgt-pwd-signup{font-family: 'h';font-size: 14px;color: rgba(22, 28, 34, 0.7);}
.frgt-pwd-signup{font-size: 16px;}
.frgt-pwd-text a,.frgt-pwd-signup a{font-family: 'h';color: rgba(22, 28, 34, 0.7);text-decoration: underline;}
.frgt-pwd-text a:hover,.frgt-pwd-signup a:hover{font-family: 'h';color: #fd604b;}
.my_teens_inner.gift_teen_inner.loading-screen-parent{border: 1px solid #E56A45;border-top: 0px;}
.ui-datepicker .ui-datepicker-header{font-size: 20px;}
.ui-state-default, .ui-widget-content .ui-state-default{color: rgba(22,28,34,.7);}
.ui-state-highlight, .ui-widget-content .ui-state-highlight{color: #fff;}
/*.loader-transparent{background: rgba(255,255,255,0.9) !important;position: fixed;}*/
/* .ajax-loader{display: none !important;} */
/*body.fixed-nav{background: #fff;}*/
.ad-slider .owl-prev,.ad-slider .owl-next{display: none;}
.modal{background: #eeeeef !important;}
.gift_modal_page .submit_register .btn.disable{pointer-events: none;cursor: not-allowed;background: #ccc !important;color: rgba(22,28,34,.7) !important;}
.sec-guidance {font-family: 'hl';font-size: 17px;color: #565b5f;}
.sec-guidance p{font-family: 'hl';text-align: left;font-size: 17px;}
.sec-guidance .promisebtn{max-width: 238px;margin: 30px auto 0;}
.sec-guidance ul{text-align: left;}
.add-question-sec .form-group label.control-label{margin: 0;color:#565b5f;font-size: 15px; }
.add-question-sec .form-group .form-control {
    margin-bottom: 7px;
    height: 42px;
    border-color: #161c22;
    font-size: 17px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 6px 38px 6px 12px;
    color: rgba(22,28,34,.7);
    border: 1px solid;
    box-shadow: none;
    background-image: none;
    position: relative;
}
.add-question-sec .form-group .school-select{position: relative;}
.add-question-sec .form-group .school-select:before{
        position: absolute;
    top: 0;
    right: 20px;
    width: 40px;
    height: 40px;
    content: '';
    background-image: url(../images/select_anchor_1.png);
    background-repeat: no-repeat;
    -o-background-size: cover;
    background-size: cover;
}
.add-question-sec .form-group .form-control::-webkit-input-placeholder{ color: rgba(22,28,34,.7);}
.add-question-sec .form-group .form-control::-moz-placeholder{ color: rgba(22,28,34,.7);}
.add-question-sec .form-group .form-control:-ms-input-placeholder{ color: rgba(22,28,34,.7);}
.add-question-sec .form-group .form-control:-moz-placeholder{ color: rgba(22,28,34,.7);}
.content-header{margin: 20px 0;}
.add-question-sec .slider.slider-horizontal .slider-track{border: 1px solid #fd604b;}
.add-question-sec .slider.slider-horizontal{height: 14px;margin-top: 7px;background: transparent;}
.add-question-sec .form-group input[type=file]{display: block;opacity: 1;position: relative;width: auto;height: auto;}
.add-question-sec .badge{background-color: #fd604b;border-radius: 4px;}
.add-question-sec .slider-handle{background-color: #fd604b;background-image: none;}
.add-question-sec .tooltip.top .tooltip-arrow{border-top-color: #fff;bottom: 1px;}
.add-question-sec .slider-selection{background-color: #fd604b;
    background-image: -moz-linear-gradient(top, #fd604b, #fd604b);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fd604b), to(#fd604b));
    background-image: -webkit-linear-gradient(top, #fd604b, #fd604b);
    background-image: -o-linear-gradient(top, #fd604b, #fd604b);
    background-image: linear-gradient(to bottom, #fd604b, #fd604b);}
.add-question-sec .btn{padding: 8px 0;background:#fd604b;margin-top: 0;border-radius: 0;text-align: center;width: 80px; }
.add-question-sec .btn>span{margin-left: 0;}
.add-question-sec .btn-flat {
    color: #fff !important;
    margin-top: 30px !important;
    padding: 0 !important;
    width: 130px;
}
.list-question.container_padd{padding-bottom: 0;}
.my_teens_inner .login_form{height: auto;}
.login_form .data-explainations.data-interest{margin: -10px 0 0;}
.login_form .career-data-color-1{background-color:#fd604b; }
.login_form .career-data-color-2{background-color:#66c6e6; }
.login_form .career-data-color-3{background-color:#27a6b6; }
.login_form .career-data-color-4{background-color:#73376d; }
.progress-radial > span{position: absolute;right: -8px;border: 1px solid #f1c246;padding: 3px 6px;border-radius: 4px;color: #fff;background: #f1c246;}
.strength-high{background: #07c9a7;border: 1px solid #07c9a7;}
.strength-moderate{background: #f1c246;border: 1px solid #f1c246;}
.strength-low{background: #f58634;border: 1px solid #f58634;}

@media (max-width: 991px) {
.padTop10 {
    padding-top: 10px;
}
    .intrest_content .my_chart h4{font-size: 22px;}
    .login_form h1{font-size: 29px;}
    .progress-radial > span{right: -13px;}
}
.report_download{
    text-align: right;

}
.report_download .btn{
    width:auto;
    font-size:14px;
    padding: 0 15px;
}
@media (max-width: 767px) {
    .report_download{
        text-align: left;
        margin-top:15px;
    	margin-bottom: 15px;
    }
    .coin_summary .left span{font-size: 20px;margin-bottom: 10px;}
    .coin_summary .left .coin_count_ttl{font-size: 25px;}
    ul.nav.nav-tabs li a >span{padding: 15px 10px;}
    ul.nav.nav-tabs li{padding:0;}
    .l-1 span.level_label, .l-2 span.level_label, .l-3 span.level_label, .l-4 span.level_label{font-size: 20px;}
    /*.intrest_content{height: 200px !important;}*/
    body{padding-bottom: 212px;}
    .procoins-gift .gift-table .no-data{height: 81.4%;}
    .main-menu .menu-container h2{font-size: 36px;}
    .sec-login h1{font-size: 34px;}
}
@media (max-width:480px){
    .intrest_content .col-xs-6{width: 100%;}
    body{padding-bottom: 277px;}
    .main-menu .menu-container h2{font-size: 30px;}
    .add-question-sec .btn-flat{display: block;}
    .add-question-sec .btn-flat.pull-right{float: none !important;}
    .login_form h1{font-size: 21px;}
}

@media (max-width: 430px){
    .full_width{background: transparent;}
}

.non_youtube_video{
   width: 100%;
   border: 2px solid #d43823;  
}

.pagination_gift{
    text-align: center;
    margin-top:10px;
    padding-top:20px;
    border-top:1px solid #9c552a;
}
.pagination_gift ul{
    display: inline-block;
}
.gift_nm h4,.gift_nm span{
    font-size: 14px;
}

.modal_gift_main .coupon_control .gift{
    margin-top:-7%;
}
.pagination>li>a, .pagination>li>span {
    font-size: 12px;
    padding: 9px 15px;
}
.resend_verification{
    text-align: center;
    margin-top: 15px;
}.popup_label {
    width: 100%;
    font-size: 15px;
    margin-bottom: 10px;
}.back_page.second_page.active {
    padding: 10px;
}
.unreadcount
{
    background: #d43823;
    border-radius: 17px;
    font-size: 10px;
    height: 20px;
    left: -3px;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: -6px;
    width: 20px;
}.noData {
    height: 35px;
    font-size: 19px;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 2px solid #e66a45;
}.pp_label {
    margin-bottom: 15px;
}.span_label {
    color: #000000;
}.popup_text {
    background-color: #FFFFFF;
}
.lg_header_border{
    border:4px solid #9c562b;
}

.not_assessed:after{
    background: #6d6d6d;
     content: "";
    display: inline-block;
    height: 15px;
    left: 0;
    position: absolute;
    top: 3px;
    width: 15px;
}
.btn_typ_lable.labels.lg_legend{
    max-width: 290px;
    width: initial;
}
.promise_plus_label {
    text-align:center;
    margin-top:5px;
    margin-bottom: 10px;
}
.promise_plus_img {
    float:left;
    display:inline;
    width:40px !important;
    height:40px;
    margin:12px;    
}
.promise_img {
    width:70px !important;
    height:70px;
    margin: 0px 14px;
}
.clearboth{
    clear:both;
}
.success_msg{
    border: none !important;
    color: #FFFFFF !important;
}
.coin_summary .left {
    top: -15px !important;
}
.temp_disable{
    pointer-events: none;
}
@media (min-width: 320px){
    .owl-carousel2.nav_dis .owl-next.disabled{
         display: block !important; 
    }
}
.promise_plus_ach.ahchivement{
    text-align: center;
}
.promise_plus_ach.ahchivement img{
    /*margin:5px;*/
    vertical-align: middle;
    float:none;
}
.noData.pp_nodata{
    height:initial;
}
.consumed_coin .search_container.desktop_search.gift_coin_search {
    width: 100% !important;
    max-width: none !important;
    margin: 0;
}
.consumed_coin_data{
  display:none;
}

.consumed_coin1 .consumed_coin1,
.consumed_coin2 .consumed_coin2,
.consumed_coin3 .consumed_coin3{
    display:block;
}

.consumed_coin.login_form.avl_coin_form {
    padding-bottom: 15px;
    padding-top: 15px;
    height:initial;
}
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.coin_desc_text{
    font-size: 13px !important;
}
.coin_pf_display{
  white-space: normal !important;
  width: 35% !important;
}

#lg_legend span:before{
    opacity: 0.5;
}
.sponsor_select.middle.icon_usr{
  width:initial;
}
.sponsor_select.middle em{
  color:#fff;
}
.send_error {
    color: #dd4b39 ;
}
.send_success {
    color: #00a65a;
}
.gift_border {
    border-bottom: 1px solid #e66a45;
}
.header .coins_button_container {
    width: 100%;
}
.header .button_container .btn {
    margin-top: 7px;
}
/*.my_teens_inner.gift_teen_inner{
position: relative;
    padding-bottom: 0;
    min-height: 300px;
}*/

.loader_inner_container {
    height: 220px;
    position: relative;
}


.gift_modal_page{
  text-align: center;
}

.gift_modal_page .submit_register{
  display:inline-block;
  margin:0 10px;
}
.gift_modal_page .submit_register .btn{
     width:100px;
}.gift_history {
    width:150px;
}
.reportbtn {
    width: 205px;
    margin: 0 auto;
    text-align: center;
}



.footer_cst_bg{
    border-top:1px solid #e66a45;
}
.tool-tip {
  display: inline-block;
}

.tool-tip [disabled] {
  pointer-events: none;
}
.promise_rate{
    height: auto !important;
}
.parent_l4_text {
	color: #fff;
    background: #f5641a !important;
    border: 2px solid white;
    width: auto;
    padding: 5px;
    text-align: center;
    line-height: 25px;
}
.l1part2_text {
    color: #fff;
    background: #f5641a !important;
    border: 2px solid white;
    width: auto;
    padding: 5px;
    text-align: center;
    line-height: 25px;
    display: inline-block;
}
.video_wrapper {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.video_wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.play_menu{
    vertical-align: top;
}

video::-internal-media-controls-download-button {
    display:none;
}
video::-webkit-media-controls-enclosure {
    overflow:hidden;
}
video::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
}
.gift_coin_modal{max-height: initial !important;min-height: 500px; }
.modal_gift_coin_search{margin:15px auto 10px auto !important;}
#chat_text{font-size:12px;}

.progress_loader {
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0;
    top: 0;
}
.progress_loader .progress_loader_outer {
    position: relative;
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
}
.progress_loader .progress_loader_middle {
    position: relative;
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}
.progress_loader .progress_loader_inner {
    width: 30px;
    display: inline-block;
    height: 30px;
    -webkit-animation: loader_spin 4s linear infinite;
    -moz-animation: loader_spin 4s linear infinite;
    -o-animation: loader_spin 4s linear infinite;
    animation: loader_spin 4s linear infinite;
    background-image: url(../images/load_bar_mini.png);
    -o-background-size: cover;
    background-size: cover;
    vertical-align: middle;}
.col-md-12.faq_que_ans_cst .accordion_inner .panel-group .panel h4.panel-title a {
    padding: 0 !important;
    text-align: left;
    background-color: rgba(0,0,0,0);
}
.col-md-12.faq_que_ans_cst .accordion_inner .panel-group .panel .panel-heading{
    padding: 0 !important;
    text-align: left;
    background-color: rgba(0,0,0,0);
    border:none;
    box-shadow:none;
}
.col-md-12.faq_que_ans_cst .accordion_inner .panel-group .panel{
    box-shadow:none;
    margin-bottom: 40px;
    text-align: left;
}

.panel-collapse{border-top:1px solid #e66a45;margin-top:15px;}
h2 .tooltip-inner {
    background: #fff !important;
    border: 1px solid #fff;
    background: #fff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    z-index: 99;
    -webkit-box-shadow: 0 1px 17px -4px #989494;
    box-shadow: 0 1px 17px -4px #989494;
    color: rgba(22,28,34,.7);
}
.tooltip .tooltip-arrow{display: block;}
.tooltip.bottom .tooltip-arrow {
    top: -2px;
    left: 50%;
    margin-left: -7px;
    border-width: 0px 7px 7px;
    border-bottom-color: #fff;
}

@media(min-width:768px){
    .coin_summary.cst_cst_dsh.cst_dsh .right{padding:0;text-align:left;}
    .coin_summary.cst_cst_dsh.cst_dsh .dashboard_page{padding:0;text-align:right;}    
    .slider_card{height: 400px;}
}
@media(max-width:767px){
.coin_summary.cst_cst_dsh.cst_dsh .left{margin:0;}
}


.faq_que_ans_cst .panel-title .collapsed:before{
	content: "\f0da" !important;
}
.faq_que_ans_cst .panel-title a{
	font-weight: 400;
    font-size: 16px;
}
.faq_que_ans_cst .panel-title a:before{
	content: "\f0d7";
	padding-right: 10px;
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width:25px;
}
.faq_que_ans_cst .pricing_title {
    margin: 30px 0 30px 0;
}
.faq_answer_link.panel-body a{
	color: #3b78e7 !important;

}
.faq_answer_link.panel-body ol,.faq_answer_link.panel-body ul {
    padding-left: 15px !important;
}
.cst_user_select_mail{
	display:block;height:30px;width:30px;margin: 0 auto;
}
.cst_user_select_mail label{vertical-align: top}

.school_dashboard_column{
    width:10px !important; white-space: normal !important;
}
.faq_search_textbox
{
	color:#fff;background: none;border: 2px solid #e66a45;border-radius: 50px;padding: 3px 15px;width: 300px;
} 
.photo-error {
    text-align: center;
    margin-bottom: 10px;
    color: red;
    font-size: 13px;
    display: block;
}
