@font-face {
  // font-family: 'ArcherPro-Book';
  font-family: 'ab';
  src: url('../fonts/ArcherPro-Book.eot');
  src: url('../fonts/ArcherPro-Book.woff2') format('woff2'),url('../fonts/ArcherPro-Book.woff') format('woff'),url('../fonts/ArcherPro-Book.ttf') format('truetype'),url('../fonts/ArcherPro-Book.svg#ArcherPro-Book') format('svg'),url('../fonts/ArcherPro-Book.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  // font-family: 'ArcherPro';
  font-family: 'am';
  src: url('../fonts/ArcherPro-Medium.eot');
  src: url('../fonts/ArcherPro-Medium.woff2') format('woff2'),url('../fonts/ArcherPro-Medium.woff') format('woff'),url('../fonts/ArcherPro-Medium.ttf') format('truetype'),url('../fonts/ArcherPro-Medium.svg#ArcherPro-Book') format('svg'),url('../fonts/ArcherPro-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
   // font-family: 'ArcherPro';
    font-family: 'al';
    src: url('../fonts/ArcherPro-Light.eot');
    src: url('../fonts/ArcherPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ArcherPro-Light.woff2') format('woff2'),
        url('../fonts/ArcherPro-Light.woff') format('woff'),
        url('../fonts/ArcherPro-Light.ttf') format('truetype'),
        url('../fonts/ArcherPro-Light.svg#ArcherPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
  // font-family: 'NexaBold';
  font-family: 'nb';
  src: url('../fonts/NexaBold.eot');
  src: url('../fonts/NexaBold.woff2') format('woff2'),url('../fonts/NexaBold.woff') format('woff'),url('../fonts/NexaBold.ttf') format('truetype'),url('../fonts/NexaBold.svg#NexaBold') format('svg'),url('../fonts/NexaBold.eot?#iefix') format('embedded-opentype');
 // font-weight: 400;
  font-style: normal;
}

@font-face {
  // font-family: 'HelveticaNeue-Thin';
  font-family: 'ht';
  src: url('../fonts/HelveticaNeue-Thin.eot');
  src: url('../fonts/HelveticaNeue-Thin.woff2') format('woff2'),url('../fonts/HelveticaNeue-Thin.woff') format('woff'),url('../fonts/HelveticaNeue-Thin.ttf') format('truetype'),url('../fonts/HelveticaNeue-Thin.svg#HelveticaNeue-Thin') format('svg'),url('../fonts/HelveticaNeue-Thin.eot?#iefix') format('embedded-opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  // font-family: 'HelveticaNeue-bold';
  font-family: 'hnb';
  src: url('../fonts/HelveticaNeue-Thin.eot');
  src: url('../fonts/HelveticaNeue-Thin.woff2') format('woff2'),url('../fonts/HelveticaNeue-Thin.woff') format('woff'),url('../fonts/HelveticaNeue-Thin.ttf') format('truetype'),url('../fonts/HelveticaNeue-Thin.svg#HelveticaNeue-Thin') format('svg'),url('../fonts/HelveticaNeue-Thin.eot?#iefix') format('embedded-opentype');
  font-weight: 200;
  font-style: normal;
}


@font-face {
  // font-family: 'Helvetica';
  font-family: 'h';
  src: url('../fonts/Helvetica.eot');
  src: url('../fonts/Helvetica.woff2') format('woff2'),url('../fonts/Helvetica.woff') format('woff'),url('../fonts/Helvetica.ttf') format('truetype'),url('../fonts/Helvetica.svg#Helvetica') format('svg'),url('../fonts/Helvetica.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  // font-family: 'Helvetica-Light';
  font-family: 'hl';
  src: url('../fonts/Helvetica-Light.eot');
  src: url('../fonts/Helvetica-Light.woff2') format('woff2'),url('../fonts/Helvetica-Light.woff') format('woff'),url('../fonts/Helvetica-Light.ttf') format('truetype'),url('../fonts/Helvetica-Light.svg#Helvetica-Light') format('svg'),url('../fonts/Helvetica-Light.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  // font-family: 'Helvetica-Bold';
  font-family: 'hb';
  src: url('../fonts/Helvetica-Bold.eot');
  src: url('../fonts/Helvetica-Bold.woff2') format('woff2'),url('../fonts/Helvetica-Bold.woff') format('woff'),url('../fonts/Helvetica-Bold.ttf') format('truetype'),url('../fonts/Helvetica-Bold.svg#Helvetica-Bold') format('svg'),url('../fonts/Helvetica Bold.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
    //font-family: 'Helvetica Neue LT Pro';
    font-family: 'hn-b';
    src: url('../fonts/HelveticaNeueLTPro-Bd.eot');
    src: url('../fonts/HelveticaNeueLTPro-Bd.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueLTPro-Bd.woff') format('woff'),
        url('../fonts/HelveticaNeueLTPro-Bd.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}






// Helvetica neu bold needs to be updated this is just for temp placeholder