@font-face {
  font-family: 'proteen';
  src:  url('../fonts/proteen.eot?28ksg0');
  src:  url('../fonts/proteen.eot?28ksg0#iefix') format('embedded-opentype'),
    url('../fonts/proteen.ttf?28ksg0') format('truetype'),
    url('../fonts/proteen.woff?28ksg0') format('woff'),
    url('../fonts/proteen.svg?28ksg0#proteen') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'proteen' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-circle:before {
  content: "\e900";
}
.icon-alarm:before {
  content: "\e901";
}
.icon-arrow-simple:before {
  content: "\e902";
}
.icon-arrow-spring:before {
  content: "\e903";
}
.icon-atom:before {
  content: "\e904";
}
.icon-badge:before {
  content: "\e905";
}
.icon-brain:before {
  content: "\e906";
}
.icon-bulb:before {
  content: "\e907";
}
.icon-chat:before {
  content: "\e908";
}
.icon-check-mark:before {
  content: "\e909";
}
.icon-clock:before {
  content: "\e90a";
}
.icon-close:before {
  content: "\e90b";
}
.icon-coin .path1:before {
  content: "\e90c";
  color: rgb(255, 195, 13);
}
.icon-coin .path2:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(255, 221, 0);
}
.icon-coin .path3:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(206, 137, 0);
}
.icon-coin .path4:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(255, 192, 0);
}
.icon-coin .path5:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(255, 192, 0);
}
.icon-coin .path6:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(255, 192, 0);
}
.icon-coin .path7:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(252, 233, 101);
}
.icon-coin .path8:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(255, 224, 69);
}
.icon-diamond:before {
  content: "\e914";
}
.icon-document:before {
  content: "\e915";
}
.icon-dollor:before {
  content: "\e916";
}
.icon-down-arrow:before {
  content: "\e917";
}
.icon-empty-folder:before {
  content: "\e918";
}
.icon-facebook:before {
  content: "\e919";
}
.icon-folder:before {
  content: "\e91a";
}
.icon-gold:before {
  content: "\e91b";
}
.icon-google:before {
  content: "\e91c";
}
.icon-grid:before {
  content: "\e91d";
}
.icon-hand:before {
  content: "\e91e";
}
.icon-hand-simple:before {
  content: "\e91f";
}
.icon-image:before {
  content: "\e920";
}
.icon-linkdin:before {
  content: "\e921";
}
.icon-list:before {
  content: "\e922";
}
.icon-lock:before {
  content: "\e923";
}
.icon-menu:before {
  content: "\e924";
}
.icon-play:before {
  content: "\e925";
}
.icon-play-simple:before {
  content: "\e926";
}
.icon-plus:before {
  content: "\e927";
}
.icon-print:before {
  content: "\e928";
}
.icon-pro-user:before {
  content: "\e929";
}
.icon-puzzle-piese:before {
  content: "\e92a";
}
.icon-question:before {
  content: "\e92b";
}
.icon-share:before {
  content: "\e92c";
}
.icon-star:before {
  content: "\e92d";
}
.icon-success:before {
  content: "\e92e";
}
.icon-thumb:before {
  content: "\e92f";
}
.icon-twitter:before {
  content: "\e930";
}
.icon-user:before {
  content: "\e931";
}
.icon-user-chat:before {
  content: "\e932";
}
.icon-video:before {
  content: "\e933";
}
.icon-window:before {
  content: "\e934";
}
