.overflw-hide {
    overflow: hidden;
}

.loading-screen-parent {
    position: relative;
    min-height: 400px;
    &.loading-large {
        min-height: 800px;
    }
}

#loading-wrapper-sub,
.loading-wrapper-sub {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255,255,255,0.9);
    z-index: 99999;
    overflow: hidden;
    display: none;
    transition: all 2s;
    &.bg-offwhite {
        background: $bg-offwhite;
    }
    #loading-text,
    .loading-text {
        top: 200px;
    }
    #loading-content,
    .loading-content {
        top: 200px;
        left: 0;
        width: 100%;text-align: center;
    }
    &.loading-wrapper-sub {
        #loading-text,
        #loading-content,
        .loading-text,
        .loading-content {
            top: 50%;
            transform: translatey(-50%);
        }
    }
}
.loader-transparent{background: rgba(238,238,239,0.9) !important;position: fixed;}
.refresh-screen-parent {
    position: relative;
    min-height: 400px;
}

.refresh-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255,255,255,0.9);
    z-index: 9999;
    overflow: hidden;
    display: none;
    transition: all 2s;
    &.bg-offwhite {
        background: rgba(238,238,238,0.9);
    }
    .refresh-text {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
    }
}

#loading-wrapper,
.loading-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background:  rgba(255,255,255,0.9);
    z-index: 99999;
    overflow: hidden; //display: none;
    transition: all 2s;
}
.fadeLoader{opacity: 0 !important;}
#loading-text,
.loading-text {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 30px;
    margin: -65px 0 0 -60px;
    text-align: center;
    font-family: 'ab', sans-serif;
    font-size: 20px;
    color: $dark; // transform: translate(-50%,-50%);
    span {
        margin: 43px 0 0 14px;
        display: block;
    }
}

#loading-content,
.loading-content {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0;
    transform: translate(-50%,-50%);
   /* width: 130px;
    height: 130px;
    border: 2px solid #F00;*/
}

.notext-loader {

    #loading-content {
        width: 120px;
        height: 120px;
       /* border: 2px solid transparent;
        border-top-color: #ff5f44;
        border-bottom-color: #ff5f44;*/
    }

    /*#loading-content:before {
        border: 2px solid transparent;
        border-top-color: $i-cl;
        border-bottom-color: $i-cl;
        border-radius: 50%;
        -webkit-animation: loader 3s linear infinite;
        -moz-animation: loader 2s linear infinite;
        -o-animation: loader 2s linear infinite;
        animation: loader 3s linear infinite;
    }

    #loading-content:after {
        border: 2px solid transparent;
        border-top-color: $remember-cl;
        border-bottom-color: $remember-cl;
        border-radius: 50%;
        -webkit-animation: loader 1.5s linear infinite;
        animation: loader 1.5s linear infinite;
        -moz-animation: loader 2s linear infinite;
        -o-animation: loader 2s linear infinite;
    }*/
}

/*#loading-content:after,
.loading-content:after {
    content: "";
    position: absolute;
    border: 2px solid #0F0;
    left: 15px;
    right: 15px;
    top: 15px;
    bottom: 15px;
}

#loading-content:before,
.loading-content:before {
    content: "";
    position: absolute;
    border: 2px solid #00F;
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 5px;
}*/

/*#loading-content,
.loading-content {
    border: 2px solid transparent;
    border-top-color: $cl-complete;
    border-bottom-color: $cl-complete;
    border-radius: 50%;
    -webkit-animation: loader 2s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
    animation: loader 2s linear infinite;
}*/

/*
#loading-content:before,
.loading-content:before {
    border: 2px solid transparent;
    border-top-color: $i-cl;
    border-bottom-color: $i-cl;
    border-radius: 50%;
    -webkit-animation: loader 3s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
    animation: loader 3s linear infinite;
}

#loading-content:after,
.loading-content:after {
    border: 2px solid transparent;
    border-top-color: $remember-cl;
    border-bottom-color: $remember-cl;
    border-radius: 50%;
    -webkit-animation: loader 1.5s linear infinite;
    animation: loader 1.5s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
}
*/

@-webkit-keyframes loaders {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.deactive {
    opacity: 0.5;
    pointer-events: none;
}

.loader_con,
.loader_con.gif-none {
    display: none;
    text-align: center;
    margin-bottom: 7px;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
.back-to-top {
    position: fixed;
    bottom: 20px;
    display: block;
    right: 20px;
    cursor: pointer;
    display: none;
    width: 55px;
    height: 55px;
    z-index: 999;
    @include maxsm {
        width: 40px;
        height: 40px;
    }
    &:hover {
  animation: bounce 1s infinite;
    }
}
