.custom-modal {
    text-align: left;
    .modal-dialog {
        width: 500px;
    }
    .modal-title {
        font-family: ab;
        font-weight: 500;
        font-size: 24px;
        color: $cl-complete;
        text-align: left;
        padding-left: 30px;
        @include maxmd {
            font-size: 20px;
        }
    }
    .modal-body {
        p {
            font-family: hl;
            font-size: 16px;
            color: $r-cl;
            margin-bottom: 5px !important;
            @include maxms {
                font-size: 14px;
            }
        }
    }
    .modal-footer {
        .btn-primary {
            background: $cl-complete;
            border-color: $cl-complete;
            font-family: hn-b;
            font-size: 14px;
            padding: 8px 15px;
            @include maxmd {
                padding: 6px 15px;
            }
            &:hover,
            &:focus {
                background: $cl-procedural;
                border-color: $cl-procedural;
            }
        }
    }
}

#buyProCoinsModal {
    .modal-footer {
        padding: 25px 15px;
    }
}

.modal-button {
    margin-top: 0;
    position: absolute; //right: 15px;
    bottom: 9px;
    margin-right: 6px;
}

#ModalInstitute {
    .modal-dialog {
        width: 100%;
        max-width: 1000px;
        @include maxlg{
            max-width: 95%;
        }
        .modal-header {
            padding: 40px 15px 15px;
            border-bottom: none;
            .close {
                top: 8px;
                position: absolute;
                right: 8px;
                margin-top: 0;
            }
        }
    }
    .sec-filter {
        margin-bottom: 0;
        [class*=col-] {
            padding: 0 10px;
        }
        .form-group {
            .form-control {
                height: 44px;
            }
        }
        .custom-select:before {
            top: 8px;
        }
        .search-bar {
            margin-bottom: 0;
            .btn-search {
                padding: 7px 0;
                .icon-search {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
    .modal-body{
        padding: 0px 25px 15px;
        @include maxms{
            padding: 0 0 15px;
        }
        .institute-block{
            border-bottom: 1px solid #ccc;
            padding: 15px 0;
           
            [class*=col-]{
                padding: 0 10px;
            }
            h4{
                font-size: 26px;
                //color: $r-cl;
                margin-bottom:15px;
                padding-bottom: 15px;
                text-align: center;
                position: relative;
                
                &:before{
                    position: absolute;
                    content: '';
                    bottom: 2px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 90px;
                    background: $p-cl;
                    height: 2px;
                }
                @include maxsm{
                    margin-bottom: 25px;
                }
                @include maxms{
                    font-size: 20px;
                }
               // text-decoration: underline;
            }
        }
        .institute-address{
           /* [class*=col-]{
                @include maxms{
                    width: 100%;
                }
            }*/
            h5{
                font-size: 20px;
                color: $r-cl;
                margin-bottom: 10px;
            }
            p{
                font-size: 17px;
                @include maxsm{
                    font-size: 15px;    
                }
                @include maxms{
                    font-size: 14px;
                }
            }
            figure{
                width: 120px;height: 120px;margin: 0 auto;
                @include maxmd{
                    width: 100px;height: 100px;
                }
                @include maxms{width: 70px;height: 70px;}
                @include maxsm{
                    margin: 0;
                }
                a{
                    display: block;width: 100%;height: 100%;border: 1px solid $p-cl;
                    img{
                        width: 100%;height: 100%;
                    }
                }
            }
        }
        .institute-detail{
            list-style-type: none;
            padding: 0;
            font-size: 17px;
            color: $lightgrey;
            @include maxsm{
                font-size: 15px;
                clear: both;
            }
            @include maxms{
                font-size: 14px;
            }
            strong{
                text-transform: capitalize;
                color: $r-cl;
                font-family: 'h';
            }
            li{
                margin-bottom: 8px;
                font-family: 'h'
            }
        }
        .load-btn{
            margin-top: -1px;border-top: 1px solid $white;
        }
    }
}
