// Sprite image for home page
.i-dream-white, .i-arrow-1, .i-brain-white, .i-mentor-hand, .i-menu-rocket,
.i-school-arrow, .i-parent-arrow, .i-parent-hand, .i-school-hand, .i-enterprise-arrow,
.i-rocket-white, .i-hand-teen, .i-enterprise-hand, .i-app-store, .i-play-store,
.i-mentor-arrow, .i-teen-arrow, .i-enterprise-circle, .i-mentor-circle, .i-school-circle,
.i-parent-circle, .i-teen-circle, .i-coin
{ max-width: 100%; background-size: 100%; background-image: url('../img/home-page-sprite.png'); }


.i-dream-white { background-position: 0 0%; background-size: 100%; }
.i-arrow-1 { background-position: 0 7.114148%; background-size: 103.174603%; }
.i-brain-white { background-position: 0 12.079701%; background-size: 120.37037%; }
.i-mentor-hand { background-position: 0 19.827939%; background-size: 125.603865%; }
.i-menu-rocket { background-position: 0 25.717703%; background-size: 129.353234%; }
.i-school-arrow { background-position: 0 30.028444%; background-size: 129.353234%; }
.i-parent-arrow { background-position: 0 34.948372%; background-size: 147.727273%; }
.i-parent-hand { background-position: 0 39.012546%; background-size: 148.571429%; }
.i-school-hand { background-position: 0 44.296117%; background-size: 148.571429%; }
.i-enterprise-arrow { background-position: 0 48.688394%; background-size: 152.046784%; }
.i-rocket-white { background-position: 0 54.991611%; background-size: 152.941176%; }
.i-hand-teen { background-position: 0 62.612613%; background-size: 155.688623%; }
.i-enterprise-hand { background-position: 0 68.995098%; background-size: 162.5%; }
.i-app-store { background-position: 0 72.444969%; background-size: 166.666667%; }
.i-play-store { background-position: 0 74.724843%; background-size: 167.741935%; }
.i-mentor-arrow { background-position: 0 76.88383%; background-size: 191.176471%; }
.i-teen-arrow { background-position: 0 81.497976%; background-size: 201.550388%; }
.i-enterprise-circle { background-position: 0 85.017836%; background-size: 265.306122%; }
.i-mentor-circle { background-position: 0 88.149029%; background-size: 329.113924%; }
.i-school-circle { background-position: 0 91.280222%; background-size: 329.113924%; }
.i-parent-circle { background-position: 0 94.411415%; background-size: 333.333333%; }
.i-teen-circle { background-position: 0 97.542608%; background-size: 333.333333%; }
.i-coin { background-position: 0 100%; background-size: 448.275862%; }
// Sprite image for home page END

//Sprite image for emojis 
.emojis-icon-2, .emojis-icon-5, .emojis-icon-8, .emojis-icon-1, .emojis-icon-3, 
.emojis-icon-4, .emojis-icon-6, .emojis-icon-7, .emojis-icon-9
{ max-width: 100%; background-size: 100%; background-image: url('../img/emojis-sprite.png'); }
 
.emojis-icon-2 { background-position: 0 0%; background-size: 100%; }
.emojis-icon-5 { background-position: 0 12.258687%; background-size: 100.826446%; }
.emojis-icon-8 { background-position: 0 24.521073%; background-size: 101.666667%; }
.emojis-icon-1 { background-position: 0 36.460348%; background-size: 110.909091%; }
.emojis-icon-3 { background-position: 0 49.177154%; background-size: 110.909091%; }
.emojis-icon-4 { background-position: 0 61.895551%; background-size: 110.909091%; }
.emojis-icon-6 { background-position: 0 74.564797%; background-size: 110.909091%; }
.emojis-icon-7 { background-position: 0 87.31849%; background-size: 110.909091%; }
.emojis-icon-9 { background-position: 0 100%; background-size: 110.909091%; }
//Sprite image for emojis end

// sprite image for vote icon
.landing_icon .family, .landing_icon .fiction, .landing_icon .game, .landing_icon .indi, .landing_icon .pro, .landing_icon .real, .landing_icon .trend, .landing_icon .vote {
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-image: url('../img/landing.png');
    display: block;
}
.landing_icon .real {
    background-position: 0 71.428571%;
    background-size: 100%;
}
.landing_icon .vote {
    background-position: 0 100%;
    background-size: 100%;
}
.landing_icon .fiction {
    background-position: 0 14.285714%;
    background-size: 100%;
}
.landing_icon .family {
    background-position: 0 0%;
    background-size: 100%;
}

//icons
/* Generated by http://responsive-css.spritegen.com Responsive CSS Sprite Generator */
 
.accepted-member-hover, .accepted-member, .add-member-hover, .add-member, .request-send-hover, 
.request-send
{ max-width: 100%; background-size: 100%; background-image: url('../img/member-icon.png'); }
 
.accepted-member-hover { background-position: 0 0%; background-size: 100%; }
.accepted-member { background-position: 0 20%; background-size: 100%; }
.add-member-hover { background-position: 0 40%; background-size: 100%; }
.add-member { background-position: 0 60%; background-size: 100%; }
.request-send-hover { background-position: 0 80%; background-size: 100%; }
.request-send { background-position: 0 100%; background-size: 100%; }