// Colors
$p-cl 	:	#fd604b;	// Primary color
$i-cl 	:	#66c6e6;	// Info color
$s-cl 	:	#27a6b6;	// Success color
$w-cl 	:	#73376d;	// Warning color
$m-cl 	:	#07c9a7;	// Mono color
$dark 	:	#161c22;	// Dark color
$light	:	#dfe0e1;	// Light color
$darkgrey : #282828;    //heading font default
$white : #fff;
$offwhite : #f5f5f5;
$bg-offwhite : #eeeeef; //offwhite background
$strong : #00caa7; // color strong
$potential : #f2c337; // color potential
$unlikely : #f78624; // color unlikely
$r-cl: #565b5f; // regular paragraph color
$cl-complete: #ff5f44; //complete background
$h-cl : #27a6b5; //heading color
$g-cl : #727476; //grey color
$badge-cl : #c8cbce; //badge color
$remember-cl : #f1c246;  //remember color
$cl-analyzing : #f58634;  //analyzing color
$cl-procedural : #65c6e6;  //procedural color
$user-bg :#b4e3f3; //user msg bg
$member-bg :#eeeeee; //member msg bg
$lightgrey : rgba(22,28,34,0.7); //paragraph font color also used for the background of menu dropdown
$t-cl : rgba(255,255,255,0.7); //paragraph font color
$reg-l : rgba(86,91,95,0.7); //paragraph font color