.faq {

    h1 {
        position: relative;
        display: inline-block;
        margin-bottom: 12px;
        &:before {
            position: absolute;
            content: "\e903";
            bottom: -73px;
            right: -105px;
            font-family: 'proteen' !important;
            font-size: 95px;
            color: $cl-complete;
            transform: rotate(24deg);
            @include maxmd {
                bottom: -45px;
                right: -90px;
                font-size: 46px;
            }
            @include maxsm {
                bottom: -35px;
                right: -100px;
            }
            @include maxms{
                bottom: -25px;
                right: -80px;
                font-size: 30px;
            }
        }
    }
    p {
        font-family: hn-b;
        width: 100%;
    }
}

.sec-faq {
    .faq-accordian {
        .panel-heading {
            .panel-title {
                a {
                    font-family: hl;
                    font-size: 24px;
                    color: $r-cl;
                    background: $white;
                    text-transform: inherit;
                    padding: 26px 50px 26px 40px;
                    line-height: 1.3;
                    @include maxlg {
                        font-size: 22px;
                    }
                    @include maxmd {
                        padding: 18px 50px 18px 30px;
                        font-size: 22px;
                    }
                    @include maxsm{
                        font-size: 17px;
                          padding: 15px 45px 15px 20px;
                    }
                    @include maxms{
                        font-size: 15px;
                        padding: 15px 45px 15px 20px;
                    }
                    span {
                        font-family: hn-b;
                        color: $cl-complete;
                    }
                    &.collapsed {
                        :before {
                            transform: rotate(-90deg);
                        }
                    }
                    &:before {
                        font-size: 24px;
                        transform: rotate(90deg);
                        @include maxms{
                            font-size: 20px;
                        }
                    }
                    &:hover {
                        background: transparent !important;
                    }
                    &:focus{
                        text-decoration: none;
                    }
                }
            }
        }
        .panel-body {
            padding: 12px 42px;
            border-top: none !important;
            p {
                font-family: hn-b;
                font-size: 16px;
                color: $r-cl;
                @include maxms{
                    font-size: 14px;
                }
                span {
                    color: $h-cl;
                }
            }
        }
    }
}

.faq-accordian .panel-title a.collapsed:before {
    transform: rotate(90deg) !important;
}

.faq-accordian .panel-title a:before {
    transform: rotate(-90deg) !important;
}
.popover{
    font-family: hl;
}