.banner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    width: 100%;
    @include maxh700minw768 {
        height:680px;
    }
    @include maxms {
        background-position: top;
        background-size: cover;
        padding-bottom: 60px;
        padding-top: 30%;
        &.banner-5 {
            padding-bottom: 0;
        }
    }
}

.banner.item {
    height: 906px;
    @include maxlg {
        height: 700px;
    }
    @include maxmd {
        height: 600px;
    }
    @include maxsm {
        height: 560px;
    }
    @include maxms{
        height: calc(100vh - 66px);
    }
}

.banner-0-1 {
    background-image: url("../img/Banner-0-1.png");
    background-color: $dark;
}

.banner-0-2 {
    background-image: url("../img/Banner-0-2.png");
    background-color: $dark;
}

.banner-0-3 {
    background-image: url("../img/Banner-0-3.png");
    background-color: $dark;
}

.banner-0-4 {
    background-image: url("../img/Banner-0-4.png");
    background-color: $dark;
}

.banner-1 {
    background-image: url("../img/Banner-1.png");
    background-color: $p-cl;
}

.banner-2 {
    background-image: url("../img/Banner-2.png");
    background-color: $i-cl;
}

.banner-3 {
    background-image: url("../img/Banner-3.png");
    background-color: $s-cl;
    background-position: center 0px;
}

.banner-4 {
    background-image: url("../img/Banner-4.png");
    background-color: $w-cl;
}

.banner-5 {
    background-image: url("../img/Banner-5.png");
    background-color: $m-cl;
}

.banner-slider {
    position: relative;

}

.bottom-show {
    bottom: 0px;
    color: #fff;
    font-size: 40px;
    left: 50%;
    position: absolute;
    text-decoration: none;
    transform: translateX(-50%);
    @include ms {
        display: none;
    }
    @include maxms {
        display: block;
    }
    &:focus,
    &:active,
    &:hover {
        color: #fff;
    }
}

.intro-slider {
    width: 100%;
    padding: 0;
    margin: 0;
    .banner {
        img {
            opacity: 1;
        }
    }
    p {
        color: #fff;
        font-family: 'ht';
        font-size: 15px;
        letter-spacing: 1px;
        line-height: 21px;
        list-style: none;
        margin: 30px 0 30px 80px;
        max-width: 555px;
        @include maxsm {
            margin-left: 0;
            max-width: 100%;
            padding: 0 20px 0 11%;
        }
    }
    .owl-dots {
        // padding: 20px 0;
        // transform:translate(50%,-50%);
        transition: all 0.5s;
        position: absolute;
        bottom: 32.5%;
        left: 13.5%;
        @include maxlg {
            bottom: 28.5%;
        }
        @include maxsm {
            bottom: 34%;
            left: 15%;
        }
    }
    .owl-dot {
        background-color: #fff;
        border-radius: 50%;
        display: inline-block;
        height: 12px;
        margin-right: 21px;
        width: 12px;
        @include maxms{
            height: 10px;
            width: 10px;
            margin-right: 15px;
        }
    }
    .owl-dot.active {
        background-color: $p-cl;
    }
    .container {
        height: 906px;
        position: relative;
        include maxmd {
            height: 600px;
        }
        @include maxsm {
            height: 560px;
        }
        @include maxms {
            height: calc(100vh - 66px);
            position: static;

        }
        .left-section {
            position: absolute;
            top: 18%;
            @include maxlg {
                top: 10%;
            }
            @include maxmd {
                top: 6%;
            }
        }
    }
    h1 {
        color: #fff;
        font-family: 'ab';
        font-size: 136px;
        line-height: 60px;
        margin: 0;
        letter-spacing: 1px;
        word-spacing: 16px;
        @include maxlg {
            font-size: 70px;
            line-height: 1;
            padding-left: 15%;
            padding-top: 5%;
        }
        @include maxmd {
            font-size: 48px;
            line-height: 1;
            word-spacing: 0;
        }
        @include maxsm{
            padding-left: 5%;
        }
        .tag-intro {
            display: inline-block;
            position: relative;
        }
        .tag-image {
            display: inline-block;
            @include maxms {
                display: none
            }
            img {
                width: auto;
                transform: translate(0, 0);
                opacity: 0;
                transition: all 2s;
                @include maxlg {
                    max-width: 150px;
                }
                @include maxmd {
                    max-width: 120px;
                }
                 @include maxsm {
                    max-width: 100px;
                }
            }
        }
        .tag-close {
            display: block;
            padding-left: 66px;
            padding-top: 0;
            line-height: 0.88;
            @include maxsm {
                padding-left: 6%;
            }
        }
    }
    .owl-item.active {
        .tag-image {
            img {
                transform: translate(10px, -50px);
                opacity: 1;
                @include maxlg {
                    transform: translate(10px, -20px);
                }
            }
        }
    }
}

.slider-maper {
    bottom: 10%;
    position: absolute;
    width: 100%;
    z-index: 9;
    
    @include maxlg {
        .container {
            padding: 0 100px;
        }
    }
    @include maxsm {
        display: none;
    }
    ul {
        border-bottom: 1px solid #fff;
        list-style: none;
        margin: 0 auto;
        padding: 0;
        position: relative;
        width: 96%;
    }
    li {
        display: inline-block;
        position: absolute;
        top: -32px;
        transform: translateX(-50%);
        a {
            color: #fff;
            display: block;
            height: 32px;
            position: relative;
            &:after {
                background-color: #fff;
                border-radius: 50%;
                bottom: -4px;
                content: '';
                height: 8px;
                left: 50%;
                position: absolute;
                transform: translateX(-50%);
                width: 8px;
            }
            &:before {
                content: '';
                left: -50%;
                position: absolute;
                top: -50%;
                max-width: initial !important;
            }
        }
    }
    .teen {
        left: 0;
        &.active,&.teen-active {
            a {
                color: $p-cl;
                &:before {
                    @extend .i-teen-circle;
                    height: 74px;
                    width: 78px;
                }
                &:after {
                    background-color: $p-cl;
                }
            }
        }

    }
    .parent {
        left: 25%;
        &.active,&.parent-active {
            a {
                color: $i-cl;
                &:before {
                    @extend .i-parent-circle;
                    height: 74px;
                    width: 78px;
                }
                &:after {
                    background-color: $i-cl;
                }
            }
        }
    }
    .mentor {
        left: 50%;
        &.active,&.mentor-active {
            a {
                color: $s-cl;
                &:before {
                    @extend .i-mentor-circle;
                    height: 74px;
                    width: 79px;
                }
                &:after {
                    background-color: $s-cl;
                }
            }
        }
    }
    .school {
        left: 75%;
        &.active,&.school-active {
            a {
                color: $w-cl;
                &:before {
                    @extend .i-school-circle;
                    height: 74px;
                    width: 79px;
                }
                &:after {
                    background-color: $w-cl;
                }
            }
        }
    }
    .enterprise {
        left: 100%;

        &.active {
            a {
                color: $m-cl;
                &:before {
                    @extend .i-enterprise-circle;
                    height: 74px;
                    width: 98px;
                    left: -20px;
                }
                &:after {
                    background-color: $m-cl;
                }
            }
        }
    }
}

.banner {
    img {
        opacity: 0;
        transform: translateY(-100px);
        transition: all 2s ease-out;
    }
    .box {
        margin-top: 46vh;
       // opacity: 0;
        padding: 50px 63px 50px 76px;
       // transition: opacity 0.5s ease-out, transform 2s ease-out;
        //visibility: hidden;
        max-width: 505px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        @include maxh700minw768 {
            margin-top:325px;
        }
        @include maxlg {
           // margin-bottom: 20vh;
           // margin-top: 45vh;
            padding: 30px 40px;
        }
        @include maxmd {
           // margin-bottom: 0;
           // margin-top: 20vh;
            transform: translateY(-50%);
        }
        @include maxsm {
          //  margin-top: 20vh;
            padding: 30px;
            width: 70%;
            max-width: 100%;
        }
        @include maxms {
            margin-left: 0 !important;
            margin-top: 0;
            transform: translateY(0);
            width: 100%;
            position: relative;
        }
        * {
            color: #fff;
        }
        h1 {
            font-family: 'ab';
            font-size: 53px;
            margin: 0 0 15px 0;
            text-transform: lowercase;
            letter-spacing: 3px;
            @include maxsm {
                font-size: 40px;
            }
        }
        p {
            font-family: 'hl';
            font-size: 15px;
            line-height: 20px;
            margin: 0;
        }
        .btn-base {
            border: 1px solid #fff;
            display: inline-block;
            font-family: 'hb';
            font-size: 12px;
            margin-top:36px;
            padding: 5px 41px;
            text-decoration: none;
            text-transform: uppercase;
            &:hover, &:focus{
                border-color: $dark;
                background: $dark;
            }
            @include maxlg {
                margin-top: 30px;
            }
            @include maxms{
                padding: 5px 25px;
            }
        }
    }
    &.active {
        img {
            opacity: 1;
            transform: translateY(0);
        }
        .box {
           /* opacity: 1;
            transform: translateY(-50%);
            visibility: visible;
            @include maxmd {
                transform: translateY(0);
            }*/
        }
    }
}

.banner-1 {
    .i-teen-arrow {
        position: absolute;
        right: 0;
        top: 50vh;
        transform: translateY(-50%);
    }
    .i-hand-teen {
        left: 34%;
        position: absolute;
        top: 40px;
    }
    .box {
        background-color: $p-cl;
        @include maxsm {
            //margin-left: 30%;
            right: 15px;
        }
        @include maxms{
            right: auto;
        }
    }
}

.banner-2 {
    .box {
        background-color: $i-cl;
    }
    &.active {
        img.i-parent-arrow {
            left: 100%;
            position: absolute;
            top: 50%;
        }
        img.i-parent-hand {
            position: absolute;
            right: 6%;
            top: 0;
            transform: translateY(-80%);
        }
    }
}

.banner-3 {
    .box {
        background-color: $s-cl;
        @include maxsm {
           // margin-left: 30%;
            right: 15px;
        }
        @include maxms{
            right: auto;
        }
    }
    &.active {
        img.i-mentor-arrow {
            position: absolute;
            top: 0;
            transform: translate(-100%, -100%);
        }
        img.i-mentor-hand {
            position: absolute;
            top: 0;
            transform: translate(70%, -86%);
        }
    }
}

.banner-4 {
    .box {
        background-color: $w-cl;
    }
    &.active {
        img.i-school-arrow {
            left: 100%;
            position: absolute;
            top: 30%;
        }
        img.i-school-hand {
            position: absolute;
            right: 16%;
            top: 0;
            transform: translateY(-80%);
        }
    }
}

.banner-5 {
    .box {
        background-color: $m-cl;
        @include maxsm {
           // margin-left: 30%;
            right: 15px;
        }
        @include maxms{
            right: auto;
        }
    }
    &.active {
        img.i-enterprise-arrow {
            position: absolute;
            top: 100%;
            transform: translate(-146%, -100%);
        }
        img.i-enterprise-hand {
            position: absolute;
            top: 20px;
            transform: translate(0%, -110%);
        }
    }
}

@include maxlg {
    .decorator {
        display: none !important;
    }
}
a[href*="tel"],
a[href*="mailto"] {
    white-space: nowrap;
}