.institute-sec {
    padding-bottom: 50px;
    .clearfix {
        clear: both;
    background: #eeeeef;
    }
    .bg-white {
        padding: 0;

    }
    .institute-block {
        //border-bottom: 1px solid #ccc;
        //padding-bottom: 30px;
        margin-bottom: 50px;
        background: $white;
        @include maxsm{
            margin-bottom: 40px;
        }
        h4 {
            font-size: 30px;
            margin-bottom: 10px; // padding-bottom: 15px;
            text-align: center;
            position: relative;
            font-family: 'am';
            font-weight: 500;
            text-align: left;
            @include maxmd {
                font-size: 25px;
            }
            /* &:before {
                position: absolute;
                content: '';
                bottom: 2px;
                left: 50%;
                transform: translateX(-50%);
                width: 90px;
                background: $p-cl;
                height: 2px;
            }*/
            @include maxsm {
                font-size: 21px;
                margin-bottom: 10px;
            }
            @include maxms {
                font-size: 20px;
                text-align: center;
            } // text-decoration: underline;
        }
        .iframe-sec {
            margin-bottom: 30px;
            @include maxsm{
                margin-bottom: 15px;
            }
            iframe {
                @include maxms {
                    height: 200px !important;
                }

            }
        }
    }

    .institute-address {
        background: #f9f9f9;
        border-bottom: 1px solid #dfdfdf;
        padding: 15px 20px;
        /* [class*=col-]{
                @include maxms{
                    width: 100%;
                }
            }*/
        h5 {
            font-size: 24px;
            color: $r-cl;
            margin-bottom: 10px;
            @include maxmd {
                font-size: 21px;
            }
            @include maxsm {
                font-size: 19px;
            }
        }
        p {
            font-size: 17px;
            @include maxsm {
                font-size: 15px;
            }
            @include maxms {
                font-size: 14px;
            }
        }
        .institute-img {
            display: inline-block;
            width: 150px;
            vertical-align: top;
            @include maxmd {
                width: 130px;
            }
            @include maxsm {
                width: 100px;
            }
            @include maxms {
                width: 100%;
            }
        }
        .institute-content {
            display: inline-block;
            vertical-align: top;
            width: 86%;
            @include maxlg{
                width: 83%;
            }
            @include maxmd{
                width: 80%;
            }
            @include maxsm {
                width: 75%;
            }
            @include maxms {
                width: 100%;
                text-align: center;
                margin: 12px 0 0;
            }
        }
    }
    figure {
        width: 120px;
        height: 120px;
        margin: 0 auto;
        @include maxmd {
            width: 100px;
            height: 100px;
        }
        @include maxsm {
            width: 80px;
            height: 80px;
        }

        img {
            width: 100%;
            height: 100%;
            display: block;
            width: 100%;
            height: 100%;
            border: 1px solid $p-cl;
        }

    }
}

.institute-detail {
    list-style-type: none;
    padding: 0;
    font-size: 18px;
    color: $lightgrey;
    @include maxsm {
        font-size: 15px;
        clear: both;
    }
    @include maxms {
        font-size: 14px;
    }
    strong {
        text-transform: capitalize;
        color: $r-cl;
        font-family: 'h';
    }
    li {
        margin-bottom: 8px;
        font-family: 'h'
    }
}

/*.load-btn {
    margin-top: -1px;
    border-top: 1px solid $white;
}*/

.institute-detail-content {
    padding: 20px;
    @include maxsm {
        .pull-right {
            float: none !important;
        }
    }
    .sec-tags {
        margin-bottom: 0;
        padding: 0;
        .tag-list {
            li {
                background: $h-cl;
                border-color: $h-cl;
                color: $white;
                margin-bottom: 6px;
            }
        }
    }
    h5 {
        font-size: 24px;
        color: $h-cl;
        margin: 10px 0 25px;
        font-weight: 700;
    }
}


.institute-heading {
    margin: 50px 0;
    h1 {
        font-size: 75px;
        font-family: al;
        margin-bottom: 40px;
        @include maxlg {
            font-size: 60px;
        }
        @include maxmd {
            font-size: 50px;
        }
        @include maxsm {
            font-size: 40px;
        }
        @include maxms {
            font-size: 34px;
        }
    }
}

.institute-filter {
    .row {
        @include maxmd {
            margin: 0 -10px;
        }
    }
    .sec-filter {
        @include maxmd {
            [class*=col-] {
                padding: 0 10px;
            }
        }
        margin-bottom: 30px;
        .search-bar {
            margin-bottom: 0;
            .btn-search {
                padding: 7px 0;
                .icon-search {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}
