.banner-parent {
    background-image: url(../img/parent-landing.jpg);
}

.banner-mentor {
    background-image: url(../img/mentor-landing.jpg);
}
.banner-school{
    background-image: url(../img/school-landing.jpg);
}
.banner-enterprise{
    background-image: url(../img/enterprise-landing.jpg);
}
.teen-bio {
    .parent-heading {
        .hand-img {
            left: 50%;
        }
    }
    .mentor-heading,.school-heading {
        .hand-img {
            left: 54%;
        }
    }
    .enterprise-heading{
        .hand-img{
            left: 75%;
        }
    }
}

.cl-mentor {
    color: $s-cl !important;
}
.cl-school{
    color: $w-cl !important;
}
.cl-enterprise{
    color: $m-cl !important;
}
