h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: ab;
    margin-bottom: 15px;
    color: $darkgrey;
    margin-top: 0;
    line-height: 1;
}

img {
    max-width: 100%;
}

h2 {
    font-size: 44px;
    @include maxsm {
        font-size: 36px;
    }
    @include maxms {
        font-size: 30px;
    }
}

p {
    font-family: hl;
    color: $lightgrey;
    font-size: 17px;
    @include maxmd {
        font-size: 15px;
    }
}

a {
    transition: all 0.3s ease-out 0s;
}

.teen-bio .form-group input::-webkit-input-placeholder {
    color: $white;text-transform:lowercase
}

.teen-bio .form-group input::-moz-placeholder {
    color: $white;text-transform:lowercase
}

.teen-bio .form-group input :-ms-input-placeholder {
    color: $white;text-transform:lowercase
}

.teen-bio .form-group input:-moz-placeholder {
    color: $white;text-transform:lowercase
}

.container-small {
    max-width: 1070px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.banner-landing {
    background-image: url(../img/landing-banner.jpg);
    background-size: cover;
    width: 100%;
    height: 643px;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    .play-icon {
        position: absolute;
        display: block;
        content: "";
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include maxmd {
            width: 100px;
        }
        @include maxsm {
            width: 85px;
        }
    }
    @include maxlg {
        height: 520px;
    }
    @include maxmd {
        height: 450px;
    }
    @include maxsm {
        height: 400px;
    }
    @include maxms {
        height: 340px;
        background-image: url(../img/teen-mob.jpg);
    }
    iframe {
        display: none;
    }
}

.teen-bio {
    padding: 70px 0 110px;
    font-family: hl;
    color:$lightgrey;
    font-size: 17px;
    @include maxlg {
        padding-bottom: 70px;
    }
    @include maxmd {
        padding: 50px 0;
        font-size: 15px
    }
    @include maxms {
        padding: 40px 0;
        font-size: 14px;
    }
    .sec-heading {
        position: relative;
        margin-bottom: 35px;
        &.parent-heading {
            span {
                color: $i-cl;
            }
        }
        &.mentor-heading {
            span {
                color: $s-cl;
            }
        }
        &.school-heading {
            span {
                color: $w-cl;
            }
        }
        &.enterprise-heading {
            span {
                color: $m-cl;
            }
        }
        h1 {
            font-size: 80px;
            @include maxlg {
                font-size: 70px;
            }
            @include maxmd {
                font-size: 60px;
            }
            @include maxms {
                font-size: 40px;
            }
        }
        span {
            font-family: h;
            font-size: 18px;
            color: $p-cl;
            font-weight: 600;
        }
        .hand-img {
            position: absolute;
            left: 60%;
            top: -30%;
            @include maxlg {
               // left: 40%;
                top: -15%;
            }
            @include maxmd {
               //     left: 45%;
                top: -41%;
            }
            @include maxms {
                width: 65px;
                left: initial;
                right: 10px;
                top: -32%;
            }
        }
    }
    .content {
        padding-right: 50px;
        color: $lightgrey;
        font-family: hl;
        font-size: 17px;
        @include maxlg {
            padding-right: 10px;
        }
        @include maxmd{
            font-size: 15px;
        }
        @include maxms{
            font-size: 14px;
        }
        p {
            margin-bottom: 30px;
            @include maxmd {
                margin-bottom: 20px;
            }
        }
    }

    .form-sec {
        padding: 35px 55px;
        background: $p-cl;
        color: $white;
        font-size: 14px;
        font-family: h;
        margin-left: 40px;
        margin-bottom: 20px;
        width: 100%;
        &.bg-parent {
            background: $i-cl;
        }
        &.bg-mentor {
            background: $s-cl;
        }
        &.bg-school {
            background: $w-cl;
        }
        &.bg-enterprise {
            background: $m-cl;
        }
        @include maxmd {
            margin-left: 0;
            padding: 30px;
        }
        @include maxsm {
            margin-top: 30px;
        }
        h2 {
            color: $white;
            text-transform: lowercase;
            margin-bottom: 15px;
        }
        .form-group {
            margin-bottom: 23px;
        }
        .form-control {
            height: 42px;
            background: transparent;
            border-color: $white;
            font-size: 17px;
            color: #fff;
            @include maxms {
                font-size: 14px;
            }
        }
        .checkbox {
            margin-bottom: 23px;
            .checker {
                &:before {
                    background: transparent;
                    border-color: #fff;
                }
            }
        }
        .btn-list {
            padding-left: 0;
            list-style-type: none;
            margin-bottom: 36px;
            @include maxms {
                margin-bottom: 25px;
            }
            li {
                display: inline-block;
                width: 49%;
                //margin-left: -4px;

                &:last-child {
                    a {
                        margin-right: 0;
                    }
                }
                a {
                    background: $dark;
                    color: $white;
                    display: block;
                    padding: 9px 10px;
                    text-align: center;
                    margin-right: 4px;
                    border: 1px solid $dark;
                    line-height: 1.5;
                    @include maxms {
                        font-size: 13px;
                        padding: 9px 8px;
                    }
                    i {
                        width: 19px;
                        height: 19px;
                        color: $dark;
                        margin-right: 8px;
                        padding: 2px;
                        @include maxms {
                            margin-right: 4px;
                        }
                        &.icon-facebook {
                            background: #5885d1;
                        }
                        &.icon-google {
                            background: #d63535
                        }
                        &.icon-fido {
                            background: url(../img/fido-icon.png);
                            background-size: contain;
                            background-position: center;
                            width: 43px;
                            height: 15px;
                            background-repeat: no-repeat;
                            display: inline-block;
                            margin-right: 0;
                            @include maxms {
                                width: 30px;
                                margin-right: 3px;
                            }
                        }
                    }
                    &:hover {
                        text-decoration: none;
                        background: transparent;
                        border-color: $dark;
                        color: $dark;
                    }
                }
            }
        }
        /*.btn-default {
            background: $dark;
            font-family: hb;
            text-transform: uppercase;
            color: $white;
            font-size: 17px;
            padding: 7px 65px;
            display: inline-block;
            border-color: $dark;
            margin-bottom: 23px;
            line-height: 1.5;
            @include maxms {
                font-size: 14px;
            }
            &:hover {
                background: transparent;
                color: $dark;
                border-color: $dark;
            }
        }*/
        p {
            color: $white;
            font-size: 14px;
            margin-bottom: 6px;
            font-family: h;
        }
        a {
            color: $white;
            &:hover {
                color: $dark;
                text-decoration: underline;
            }
        }
        .invalid{
            color: $white;
        }
    }
    .order-1{
        @include maxsm{
            order: 1;
        }
    }
    .order-3{
        @include maxsm{
            width: 100%;
            order: 3
        }
    }
    .order-2{
        @include maxsm{
            order: 2;
        }
    }
    .flex-items{
        align-items: flex-start !important;
    }
}

.sec-testimonial {
    padding: 65px 0;
    background: $offwhite;
    @include maxsm {
        padding: 40px 0 30px;
    }
    @include maxms {
        padding: 30px 0 20px;
    }
    .testimonial-slider {
        padding-left: 0;
        li {
            width: 80%;
            margin: 0 auto;
            list-style-type: none;
            @include maxsm {
                width: 86%;
            }
            .testimonial-img {
                width: 30%;
                vertical-align: middle;
                display: inline-block;
                border-radius: 100%;
                text-align: center;
                img {
                    border-radius: 50%;
                }
                @include maxms {
                    width: 100%;
                    margin-bottom: 25px;
                }

            }
            .testimonial-content {
                width: 68%;
                padding-left: 2%;
                display: inline-block;
                vertical-align: middle;
                color: $lightgrey;
                @include maxmd {
                    padding-left: 5%;
                }
                @include maxsm {
                    padding-left: 2%;
                }
                @include maxms {
                    padding-left: 0;
                    width: 100%;
                    text-align: center;
                }
                span {
                    display: block;
                    margin-bottom: 24px;
                    @include maxsm {
                        margin-bottom: 15px;
                    }
                }
                p {
                    font-family: ab;
                    font-style: italic;
                    font-size: 20px;
                    color: $lightgrey;
                    margin-bottom: 26px;
                    @include maxsm {
                        font-size: 16px;
                        margin-bottom: 15px;
                        line-height: 1.2;
                    }
                }
                h5 {
                    font-size: 20px;
                    color: $p-cl;
                    @include maxsm {
                        font-size: 18px;
                    }
                }
            }
        }
    }
    .owl-carousel {
        .owl-item {
            img {
                width: auto;
                display: inline-block;
            }
        }
        .owl-nav {
            position: absolute;
            top: 33%;
            /*transform: translateY(-50%);*/
            width: 100%;
            .owl-prev {
                position: absolute;
                left: 0;
                font-size: 0;
                background-image: url(../img/prev-icon.png);
                width: 39px;
                height: 77px;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                &:hover {
                    opacity: .6;
                }
                @include maxmd {
                    width: 25px;
                }
                @include maxsm {
                    width: 18px;
                }
            }
            .owl-next {
                position: absolute;
                right: 0;
                font-size: 0;
                background-image: url(../img/next-icon.png);
                width: 39px;
                height: 77px;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                &:hover {
                    opacity: 0.6;
                }
                @include maxmd {
                    width: 25px;
                }
                @include maxsm {
                    width: 18px;
                }
            }
        }
    }
}

.sec-content {
    padding: 120px 0;
    color: $lightgrey;
    font-family: hl;
    font-size: 17px;
    @include maxlg {
        padding: 90px 0;
    }
    @include maxmd {
        padding: 50px 0;
    }
    @include maxms {
        padding: 40px 0;
        font-size: 14px;
    }
    span{
        @include maxms{
            font-size: 14px !important;
        }
    }
    [class*=col-] {
        &:first-child {
            padding-right: 50px;
            @include maxlg {
                padding-right: 20px;
            }
            @include maxmd {
                padding-right: 15px;
            }
        }
        &:last-child {
            padding-left: 53px;
            @include maxlg {
                padding-left: 30px;
            }
            @include maxmd {
                padding-left: 15px;
            }
        }
    }
}

.container-large {
    max-width: 1585px;
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
    .row {
        margin: 0 -30px;
    }
}

.sec-masonary {
    padding: 65px 0 100px;
    background: $offwhite;
    @include maxlg {
        padding-bottom: 80px;
    }
    @include maxmd {
        padding: 50px 0;
    }
    @include maxsm {
        padding: 40px 0;
    }
    h2 {
        text-align: center;
        color: $p-cl;
    }
    .masonary-grid {
        margin: 65px 0 80px;
        @include maxmd {
            margin: 40px 0;
        }
        @include maxsm {
            margin: 25px 0 30px;
        }
        .item {
            margin-bottom: 25px;
            width: 24.5%;
            float: left;
            padding: 0 0 0 24px;
            @include maxmd {
                width: 32.33%;
            }
            @include maxsm {
                width: 49.5%;
                padding:  0 12px 0 16px;
            }
            @include maxms {
                width: 100%;
                padding: 0 12px;
            }
            .grid-box {
                background: $white;
                -webkit-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.8);
                -moz-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.8);
                box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.8);
                padding: 40px;
                @include maxlg {
                    padding: 30px 25px;
                }
                @include maxsm {
                    padding: 20px;
                }
                figure {
                    a {
                        display: block;
                        margin-bottom: 30px;
                        position: relative;
                        text-align: center;
                        @include maxsm {
                            margin-bottom: 20px;
                        }
                        .overlay {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            color: #fff;
                            font-size: 50px;
                        }
                        &:hover {
                            .overlay {
                                color: $p-cl;
                            }
                        }
                    }
                    figcaption {
                        color: $lightgrey;
                        font-size: 14px;
                        font-family: hl;
                    }
                }
            }
        }

    }
    .btn-primary {
        font-family: hb;
        font-size: 21px;
        color: $dark;
        padding: 4px 47px;
        border: 1px solid $dark;
        display: inline-block;
        background: transparent;
        line-height: 1.5;
        text-transform: uppercase;
        letter-spacing: 1px;
        &:hover {
            background: $dark;
            color: $white;
        }
        @include maxmd {
            font-size: 18px;
        }
    }
}

.mfp-iframe-holder {
    padding-top: 130px;
}

.btn-default:not(.disabled) {
    background: $dark;
    font-family: hb;
    text-transform: uppercase;
    color: $white;
    font-size: 17px;
    padding: 7px 52px;
    display: inline-block;
    border-color: $dark;
    margin-bottom: 23px;
    line-height: 1.5;
    position: relative;
    @include maxlg{
        padding: 7px 43px;
    }
    @include maxmd{
        padding: 7px 38px;
    }
    @include maxsm{
        padding: 7px 52px;
    }
    @include maxms {
        font-size: 14px;
    }
    &:hover {
        background: transparent;
        color: $dark;
        border-color: $dark;
    }
    &:before {
        content: '';
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -11px;
        width: 20px;
        height: 20px;
        border: 4px solid;
        border-left-color: transparent;
        border-radius: 50%;
        opacity: 0;
        transition-duration: 0.2s;
        transition-property: opacity;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-name: rotate;
        animation-timing-function: linear;
    }
    &:after {
        content: '';
        display: inline-block;
        height: 100%;
        width: 0px;
        transition-delay: 0.3s;
        transition-duration: 0.75s;
        transition-property: width;
    }

    &.sending {
        pointer-events: none;
        cursor: not-allowed;
        &:not(.expand) {
           // text-align: center;
        }
        &:before {
            transition-delay: 0.5s;
            transition-duration: 1s;
            opacity: 1;
        }
        &:after {
            transition-delay: 0s;
            width: 20px;
        }
    }
}

.login-source {
    &.btn-list {
        padding-left: 0;
        list-style-type: none;
        max-width: 387px;
        margin: 0 auto 36px;
        @include maxms {
            margin-bottom: 25px;
            max-width: 100%;
        }
        li {
            display: inline-block;
            width:49.4%;
           // margin-left: -4px;
            @include maxms{
                width: 49%;
            }
            &:last-child {
                a {
                    margin-right: 0;
                }
            }
            a {
                background: $dark;
                color: $white;
                display: block;
                padding: 9px 10px;
                text-align: center;
                margin-right: 4px;
                @include maxms {
                    font-size: 13px;
                    padding: 9px 8px;
                }
                i {
                    width: 19px;
                    height: 19px;
                    color: $dark;
                    margin-right: 8px;
                    padding: 2px;
                    @include maxms {
                        margin-right: 4px;
                    }
                    &.icon-facebook {
                        background: #5885d1;
                    }
                    &.icon-google {
                        background: #d63535
                    }
                    &.icon-fido {
                        background: url(../img/fido-icon.png);
                        background-size: contain;
                        background-position: center;
                        width: 43px;
                        height: 15px;
                        background-repeat: no-repeat;
                        display: inline-block;
                        margin-right: 0;
                        @include maxms {
                            width: 30px;
                            margin-right: 3px;
                        }
                    }
                }
                &:hover {
                    text-decoration: none;
                    background: $p-cl;
                }
            }
        }
    }
}
.teen-bio .form-sec .invalid{color: $white;display: block;margin-top: 5px;}
// Animations
//**********************//
@keyframes rotate {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.full-width{
    width: 100%;
}