
.careers-container {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
}

.top-heading {
    padding: 96px 0 70px;
    @include maxlg {
        padding: 70px 0 60px;
    }
    @include maxmd {
        padding: 50px 0;
    }
    @include maxsm{
        padding: 40px 0 20px;
    }
    @include maxms{
        padding: 30px 0 0px;
    }
    h1 {
        font-size: 75px;
        text-transform: uppercase;
        color: $h-cl;
        font-family: al;
        @include maxlg {
            font-size: 60px;
        }
        @include maxmd {
            font-size: 50px;
        }
        @include maxsm{
            font-size: 40px;
        }
        @include maxms{
            font-size: 34px;
        }
    }
    p {
        font-size: 24px;
        font-family: hl;
        color: $r-cl;
        strong {
            color: #ff5f45;
            &.font-blue{
                color: $h-cl;
            }
        }

        @include maxmd {
            font-size: 20px;
        }
        @include maxsm{
            font-size: 16px;
        }
        @include maxms{
            font-size: 14px;
        }
    }
}

.form-control {
    height: 42px;
    background: transparent;
    border-color: #161c22;
    font-size: 17px;
    color: rgba(22, 28, 34, 0.7);
}

.sec-filter {
    font-family: hn-b;
    font-size: 24px;
    color: $r-cl;
    margin-bottom: 49px;
    @include maxmd{
        font-size: 20px;
    }
    @include maxsm{
        font-size: 17px;
    }
    @include maxms{
        margin-bottom: 20px;font-size: 14px;
    }
    .custom-select {
        position: relative;
        background: $cl-complete;
        &:before {
            display: inline-block;
            content: "<";
            color: $white;
            font-size: 20px;
            position: absolute;
            right: 15px;
            top: 19px;
            text-decoration: inherit;
            transform: rotate(-90deg);
            cursor: pointer;
            z-index: 0;
            font-family: hl;
            pointer-events:none;
            @include maxms{
                right: 8px;
                top: 12px;
                font-size: 16px;
            }
        }
        select {
            cursor: pointer;
            -webkit-appearance: none;
            appearance: none;
            color: $white !important;
            font-family: hl;
            border-color: $cl-complete;
            outline: none;
            option {
                color: $g-cl;
            }
        }
        .form-control {
            border-color: $cl-complete !important;
        }
        &.bg-blue{
            background: $h-cl;
            .form-control{
                border-color: $h-cl !important;

            }
        }
    }
    .form-group {
        .form-control {
            border-color: $g-cl;
            color: $g-cl;
            font-family: hl;
            height: 57px;
            &::-webkit-input-placeholder {
                color: $g-cl;
            }
            &:-ms-input-placeholder {
                color: $g-cl;
            }
            &::-moz-placeholder {
                color: $g-cl;
            }
            &.search-feild {
                position: relative;
                padding-left: 70px;
            }
            @include maxms{
                height: 42px;
                font-size: 14px;
                padding: 6px 10px;
            }

        }
        .btn-search {
            position: absolute;
            top: 0;
            width: 57px;
            height: 100%;
            left: 0;
            background: $g-cl;
            border: none;
            padding: 15px 0;
            @include maxms{
                padding: 7px 0;
            }
            .icon-search {
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MUQ0M0Q2NjlDNTIxMTFFN0I4Mzk4RUU4NzBEMUI4MjAiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MUQ0M0Q2NkFDNTIxMTFFN0I4Mzk4RUU4NzBEMUI4MjAiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDoxRDQzRDY2N0M1MjExMUU3QjgzOThFRTg3MEQxQjgyMCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDoxRDQzRDY2OEM1MjExMUU3QjgzOThFRTg3MEQxQjgyMCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PuoI8eUAAAZbSURBVHjatFZbTFxVFD3MDG+GAkWgQIFCeT/LI4CGihGhhYIQ+aCQKlaTpo0xJUarMaaJGuNH9YOEgDHVpqEFmrZQo6aCCMHwLFhMHwNlgJZSYCjP8n50xrWu3ITCEH7ak5zM3HPu3Wvvtdfe55icOHFCGAwG4erqKmxsbMT8/Lzo6ekRTk5OVniODg8PfzMgICAez26mpqbmCwsLswMDA33d3d019+7d+31ubu7O+Pi42LNnjzA3NxfYE0+ePBEKhUIYG6qNC4uLi8LHx+d1jIKIiIhkS0tL0/X71tbWzo6Ojj6RkZFvPH78+OMbN25crqmpKVxaWuoi4HbjGUB4rwwMDDydlpZ20tbWVs21kZGRocHBweb+/v4eRDPv4OBg5+XlFebu7h73EkZqaurxkJCQ1KtXrxbMzs5WbgeojImJ+R9ZpTKNjo4uzMrK+sjCwsL84cOHAxUVFV9eu3btQzs7u3O9vb1/Yq0B71XDgbLa2toq/F/BXgjodoKjh0Bx//Dw8O2nT58KExMTo4AS0cvLywJ5OoXIjvPFlpaWv0pKSg40Nzd/j+dhpVKpNzMzk3LEX6ytwuidycnJk8XFxTnI2/0dO3ZY5+TkFNrb2+8HvZIujE3FysqKAD3x6enpnxAcOWkoLS3NRdI1EMmWnnId+RQQzG9FRUXvjI6O6pBbx+zs7K8BaguWhJWV1aapQBoUiYmJH4AaNT+qqqoqgPe61dXVbQUwNjYmea3T6RouXrz4uV6vNyAtCRBdBlVKhzdOBagIRtIP0ADUdg5y/2dmZkb09fVtGd1azgXyK7q6ugSoFQ0NDaU3b978m3sJCQn5cFhFajdOVXBw8Cs7d+50gMIWUH8Vu3fvloDoOT0i5ZuUplRSvRKlzOmaDpZaW1svRUVF7d+7d29MXFycF5a1mxwFWDwBHj16pJmamuomkBwZxURqISIB6iUg0ohIpD0+y++yfsFKOxyfQXpswUAgbG0GRGF7rNXgfXC/SAPrqaQDjAL5kaLatWuXQAlsopuloFarx6anp0fRodRgx3WLVKhkw3qAC2OAfCYQOo9ArUnlweg2AgLEoKdnGPhvtLep0Pdm+QdROKOwib4sAxKM1FHi7JXoq6Kzs1NotVopt3L+ZPrd3NzUiM6emKB2wiggSqENv4dcXFxCoCIPKE5LSROMkcCIgJKlCEC7IAtQtQSKcpDe46ACIcBQ5M8RLXAR9HZtBViLMvgU4rH38PBI1Wg0hQRiBBRKaGjoM4YZCU8WRs3SYTRrtJugoaeTHXSebpRYj7GyUkEI/8Lb1n379r2WnJx8jNKGhyM06unpKR1XMpjcYRgtgcPCwgRrlscRmkxifHx8Jt9pbGwsf/Dgwbysj2d6KVQ1197e/iPkv4r6CcrMzPyKpUbDzNF6sI1DFhmbd35+/hk8m8H5u4iulOVEx9ZPrql4eNbX11eCzkspKSm5GRkZ78H7qbq6utN4aX4rMDrCvCHf3gArQf4iud7R0fELjrZBZ2fnTe8zYiWAKIZVtKgmb2/vOFDpCVG8jJxG4Kjpg+p0oFUPI5KAbt26JZUEvuGN4C2cEMWoyzjZMIB8Ibx+5FZDsUE80k2CE01dKIOCgiQDiGoWoHUw7IsD1g8tzs/f3z8X4ogEFW5Qnw0+cJmYmIjCIXwYOT+dlJRUAAAnCkyuS7Q7GziejPNTC2AN10knxUX184QXa4VKiqYgousAWMJR4o/U2GMGADgFv0fwzhGcm3l+fn6vQsEepAiq7igvL/8M35Atf9rCtxbQQxJU3AuNaGRnJEplQAkdG6B0ASqtb2pq+hV3lmFwb4U9C+xRSAo6g36qAxv11dXV37a1tX2Bpt8Cqv9AGkLBjO8aqCVAD/JqgkjvEkyaxsRAdULq3ZjfVFZWnsHHLqhHB9BFkS0CZAyHtg4N20A6eWqA6skLFy68CxM/oTzSaAsOqHNzc8/irBRDQ0OXWbuKLS87iJYeIaplPA5gdmK2Y97m3QpRG7gvXweZEghptKys7H1cTWpkOwC1zcvL+wG9OJsnikI8x0EH0ENH0DwOo7ar5XWIzAGgZ5HjIyrxnAfTASGNQzBvQ50/x8bGHmSaGCluAqcU4gUM0gx6dcjpUUR7nd0IDmivXLlyTCVe0CC9aBgjKJmjUP13uCWchxON/wkwACX3hECmbvmZAAAAAElFTkSuQmCC');
                background-size: contain;
                background-position: center;
                width: 28px;
                height: 28px;
                display: inline-block;
            }
        }
        &.search-bar {
            position: relative;
            clear: both;
        }
    }
    span {
        padding: 10px 0;
        display: inline-block;
    }
    .text-right {
        @include maxmd {
            text-align: left;
        }
    }
    .col-sm-12{
        @include maxmd{
        clear: both;
        }
    }
}

.sec-category {
    h2 {
        font-size: 46px;
        color: $h-cl;
        margin-bottom: 35px;
        @include maxlg {
            font-size: 40px;
        }
        @include maxmd {
            font-size: 36px;
            text-align: center;
        }
        @include maxms{
            font-size: 28px;
            margin-bottom: 25px;
        }
    }
    p {
        font-size: 24px;
        font-family: hl;
        color: $r-cl;
        margin-bottom: 28px;
        strong {
            color: #ff5f44;
        }
        @include maxlg {
            font-size: 20px;
        }
        @include maxmd {
            margin-bottom: 15px;
            font-size: 17px;
        }
        @include maxms{
            font-size: 14px;
        }
    }
    .pull-right {
        float: none !important;
    }
    .match-list {
        @include maxmd {
            float: none;
        }
        li {
            @include maxlg {
                font-size: 14px;
            }
            .number {
                width: 25px;
                height: 25px;
                line-height: 25px;
                font-size: 16px;
            }
        }
    }
    .category-list {
        padding-bottom: 60px;
        border-bottom: 1px solid #d4d5d6;
        margin-bottom: 50px;
        @include maxlg {
            padding-bottom: 50px;
        }
        @include maxmd{
            padding-bottom: 40px;
            margin-bottom: 40px;
        }
        @include maxms{
            padding-bottom: 10px;
            margin-bottom: 30px;
        }
        .row {
            margin: 0 -20px;
            @include maxmd {
                margin: 0 -15px;
            }
        }
        [class*=col-] {
            padding: 0 20px;
            @include maxmd{
                padding: 0 15px;
            }
        }
        .category-block {
            margin-bottom: 45px;
            @include maxmd{
                margin-bottom: 35px;
            }
            figure {
                position: relative;
                .category-img {
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 100%;
                    min-height: 433px;
                    @include maxlg {
                        min-height: 340px;
                    }
                    @include maxmd{
                        min-height: 270px;
                    }
                    @include maxms{
                        min-height: 210px;
                    }
                }
                figcaption {
                    a {
                        width: 100%;
                        color: $white;
                        font-size: 26px;
                        font-family: hl;
                        padding: 20px 30px;
                        display: block;
                        @include maxlg {
                            font-size: 22px;
                            padding: 20px 15px;
                        }
                        @include maxmd{
                            font-size: 16px;
                            padding: 15px 10px;
                        }
                    }
                }
                .complete {
                    position: absolute;
                    top: -4px;
                    right: -4px;
                    background: $cl-complete;
                    padding: 16px 31px;
                    font-size: 21px;
                    line-height: 1.4;
                    font-family: hl;
                    @include maxmd{
                        padding: 10px 20px;
                        font-size: 16px;
                    }
                    @include maxms{
                        font-size: 14px;
                    }
                }
            }
            &.match-strong {
                border: 4px solid $strong;
            }
            &.match-potential {
                border: 4px solid $potential;
            }
            &.match-unlikely {
                border: 4px solid $unlikely;
            }
        }
    }
}

