
.font-blue {
    color: $h-cl !important;
}

.network-filter {
    label {
        margin-right: 10px;
        @include maxsm {
            display: block;
            margin-right: 0;
            font-family: h;
            font-size: 17px;
        }
        @include maxms{
            font-size: 14px;
        }
    }
    .custom-select {
        display: inline-block;
        width: 64%;
        @include maxsm {
            width: 100%;
        }
        &:before {
            right: 32px;
            top: 15px;
            @include maxlg {
                right: 15px;
            }
        }
    }
    .sort-filter {

        &[class*=col-] {
            padding: 0 8px;
            @include maxsm {
                padding: 0 15px;
            }
        }
        .custom-select {
            width: 69%;
            background: $h-cl;
            &.w-cl{
                background: $w-cl;
                select{
                    border-color: $w-cl !important;
                }
            }
            @include maxlg {
                width: 62%;
            }
            @include maxmd{
                width: 67%;
            }
            @include maxsm {
                width: 100%;
            }
            select {
                border-color: $h-cl !important;
                ;
            }
        }
    }
    .form-control {
        font-size: 24px;
        padding: 6px 29px;
        @include maxlg {
            font-size: 21px;
            padding: 6px 15px;
        }
        @include maxsm{
            font-size: 17px;
        }
    }
    .search-bar {
        @include maxmd {
            margin-top: 0px;
        }
    }
}

.connection-list {
    max-width: 960px;
    margin: 0 auto 40px;
    padding: 28px 0 0;
    //position: relative;
    //min-height: 400px;
    @include maxlg {
        padding-top: 15px;
    }
    .col-xs-4{
        @include maxms{
            width: 50%;
        }
    }
    .connection-block {
        figure {
            position: relative;
            font-size: 16px;
            font-family: hn-b;
            color: $lightgrey;
            margin-bottom: 30px;
            @include maxms {
                margin-bottom: 20px;
            }
            .connection-img {
                background-size: cover;
                background-position: center;
                width: 100%;
                height: 135px;
                background-repeat: no-repeat;
                display: block;
                position: relative;
                margin-bottom: 10px;
                @include maxlg {
                    height: 185px;
                }
                @include maxsm{
                    height: 155px;
                }
                @include maxms {
                    height: 145px;
                }
                .overlay {
                    position: absolute;
                    bottom: 0px;
                    background: $h-cl;
                    width: 100%;
                    padding: 10px;
                    display: none;
                    opacity: 0;
                    transition: 0.5 all ease;
                    ul {
                        padding: 0;
                        list-style-type: none;
                        margin-bottom: 0;
                        li {
                            display: inline-block;
                            font-size: 40px;
                            width: 50%;
                            vertical-align: middle;
                            text-align: center;
                            margin-left: -4px;
                            @include maxsm{
                                font-size: 27px;
                            }
                            @include maxms{
                                font-size: 24px;
                            }
                            a {
                                color: $white;
                                &:hover {
                                    text-decoration: none;
                                    color: $p-cl;
                                }
                            }
                        }
                    }
                }
            }

            figcaption {
                a {
                    display: block;
                    text-align: center;
                    color: $lightgrey;
                    text-transform: capitalize;
                    &:hover {
                        color: $p-cl;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.connection-block .connection-img:hover .overlay {
    display: block !important;
    opacity: 1 !important;
}
