.sec-register {
    padding: 100px 0;
    h1{font-family: am;}
    @include maxmd {
        padding: 70px 0;
    }
    @include maxsm {
        padding: 0px 0 40px;
    }
    @include maxms {
        padding: 40px 0;
    }
    .form-register {
        max-width: 800px;
        margin: 0 auto;
        .reg-heading {
            @include maxsm {
                // display: flex;
                // flex-wrap: wrap;
                margin-bottom: 22px;
            }
            [class*=col-] {
                &:last-child {
                    padding-right: 50px;
                    @include maxsm {
                        padding: 0 15px;
                    }
                }
                .full-width {
                    width: 100%;
                    @include maxsm {
                        text-align: center;
                    }
                    @include maxms {
                        text-align: center; //display: flex;
                        // flex-wrap: wrap;
                    }
                    h1 {
                        @include maxms {
                            order: 1;
                            width: 100%;
                            margin: 0 auto 15px;
                            text-align: center;
                            display: block;
                        }
                    }
                }
                @include maxsm {
                    // display: inline-flex;
                    width: 100%;
                }
                &.order-2 {
                    order: 2;
                    margin-top: 30px;
                }
            }
            margin-bottom: 50px;
            .upload-img {
                min-height: 273px;
                border: 1px solid $p-cl;
                position: relative;
                text-align: center;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                max-width: 100%;
                &:before{
                    display: none;
                }
                @include maxsm {
                    width: 100%;
                    min-height: 250px;
                    max-width: 350px;
                    margin: 0 auto;
                }
                @include maxms {
                    width: 100%;
                    max-width: 100%;
                }
                span {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-family: h;
                    font-size: 30px;
                    color: $lightgrey;
                    @include maxsm {
                        font-size: 26px;
                    }
                }
                &.activated {
                    span {
                        display: none;
                    }
                }
                input[type=file] {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                }
            }
            .icon {
                font-size: 170px;
                color: $p-cl;
                transform: rotate(-90deg);
                display: inline-block;
                line-height: 1.35;
                margin-top: 12px;
                i{
                    display: block;
                    transform: scaleX(-1);
                }
                @include maxms {
                    font-size: 100px;
                    order: 3;
                    margin: -30px auto;
                }
            }
            p {
                font-family: ht;
                font-size: 16px;
                color: rgba(22, 28, 34, 0.7);
                @include maxms {
                    order: 2;
                    font-size: 14px;
                }
            }
        }
        .form-group {
            margin-bottom: 22px;
            .input-group-addon {
                background: #efefef;
                border-color: $dark;
                font-family: hl;
                font-size: 17px;
                height: 42px;
                color: rgba(22, 28, 34, 0.7);
                @include maxms {
                    font-size: 14px;
                }
            }
            .form-control {
                height: 42px;
                background: transparent;
                border-color: $dark;
                font-size: 17px; //color: $lightgrey;
                -webkit-appearance: none;
                appearance: none;
                //text-transform: lowercase;
                padding: 6px 38px 6px 12px;
                @include maxms {
                    font-size: 14px;
                }
                option {
                    color: $lightgrey;
                }
                select {
                    cursor: pointer;
                    color: $lightgrey;
                }
            }

            label {
                color: rgba(22, 28, 34, 0.7);
                a {
                    color: rgba(22, 28, 34, 0.7);
                    text-decoration: underline;
                    &:hover {
                        color: $p-cl;
                    }
                }
            }
            &.date-sec {
                label {
                    width: 20%;
                    display: inline-block;
                    vertical-align: middle;
                    margin-bottom: 0;
                    @include maxms {
                        width: 25%;
                    }
                }
                .date-feild {
                    display: inline-block;
                    width: 80%;
                    margin-left: -4px;
                    vertical-align: middle;
                    @include maxms {
                        width: 75%;
                    }
                    .date-block {
                        width: 31.56%;
                        margin-left: 5px;
                        float: left;
                        max-width: 90px;
                        @include maxms {
                            width: 30.56%;
                            padding: 6px 8px;
                        }
                    }
                }
            }
        }
        .frgtpwd-sec {
            text-align: center;

        }
        .btn-submit {
            margin: 50px 0;
            font-family: hb;
            font-size: 17px;
            text-transform: uppercase;
            color: $white;
            background: $p-cl;
            border-color: $p-cl;
            padding: 8px 160px;
            line-height: 1.4;
            &:hover {
                border-color: $dark;
                background: $dark;
            }
            &:focus {
                border-color: $dark;
                background: $dark;
            }
            @include maxsm {
                padding: 8px 100px;
                margin: 30px 0;
                font-size: 15px;
            }
            @include maxms {
                font-size: 14px;
                padding: 8px 60px;
            }
        }
        .custom-select {
            position: relative;
            &:before {
                display: inline-block;
                content: "<";
                color: $lightgrey;
                font-size: 20px;
                position: absolute;
                right: 15px;
                top: 8px;
                text-decoration: inherit;
                transform: rotate(-90deg);
                cursor: pointer;
                z-index: -1;
            }
            select {
                cursor: pointer;
            }
        }
        label {
            color: rgba(22, 28, 34, 0.7);
            a {
                color: rgba(22, 28, 34, 0.7);
                text-decoration: underline;
                &:hover {
                    color: $p-cl;
                }
            }
        }
        p {
            color: rgba(22, 28, 34, 0.7);
            font-size: 16px;
            font-family: h;
            @include maxms {
                font-size: 14px;
            }
            a {
                color:rgba(22, 28, 34, 0.7);
                text-decoration: underline;
                &:hover {
                    color: $p-cl;
                }
            }

        }
    }
    .sponsor-sec {
        background: $offwhite;

        position: relative;
        margin: 50px 0 20px;
        &:before {
            position: absolute;
            top: -6px;
            left: 5%;
            //transform: translateX(-50%);
            display: inline-block;
            border-right: 40px solid transparent;
            border-top: 40px solid $white;
            border-left: 40px solid transparent;
            content: '';
        }
        .sponsor-content {
            padding: 50px 0;
            position: relative;
            &:before,
            &:after {
                position: absolute;
                content: '';
                top: 0;
                height: 100%;
                width: 300%;
                left: -300%;
                background: $offwhite;
            }
            &:after {
                left: auto;
                width: 300%;
                right: -300%;
                @include maxlg {
                    width: 19.3%;
                    right: -19.3%;
                }
            }
            @include maxmd{
                padding: 50px;
            }
            @include maxms{
                padding: 50px 45px;
            }
        }
        label {
            color: $lightgrey;
        }
        .checkbox {
            color: $lightgrey;
            margin: 30px 0 40px;
            text-align: center;
            &:last-child {
                margin-bottom: 15px;
            }
            label {
                color: $lightgrey;
                text-align: left;
            }
            .checker:before {
                top: 50%; //bottom: 0;
                @include maxms {
                    bottom: auto;
                    top: 30px;
                }
            }
        }
        .logo-icon {
            display: inline-block;
            vertical-align: bottom;
            margin: 0 12px 12px;
            @include maxsm {
                width: 80px;
            }
        }
        .sponsor-name {
            display: block;
            margin: 0 12px;
            width: 70%;
            @include maxsm{
                width: 100%;
            }
        }
        .sponsor-list {
            .owl-stage-outer{}
            .owl-nav {
                position: absolute;
                top: 50%;
                 transform: translateY(-50%); 
                width: 100%;
                .owl-prev,
                .owl-next {
                    position: absolute;
                    left: -100px;
                    font-size: 0;
                    background-image: url(../img/prev-icon-dark.png);
                    width: 30px;
                    height: 45px;
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    @include maxms{
                        width: 20px;
                        height: 35px;
                    }
                }
                .owl-prev{
                    @include maxlg{
                        left: -60px;
                    }
                    @include maxmd{
                        left: -50px;
                    }
                }
                .owl-next {
                    left: auto;
                    right: -50px;
                    background-image: url(../img/next-icon-dark.png);
                    @include maxlg{
                        right: -30px;
                    }
                    @include maxmd{
                        right: -50px;
                    }
                }
            }
        }
    }
}

.sponsor-error {
    position: relative;
    bottom: -40px;
    color: red;
}

.terms-error,
.birth-error {
    color: red;
    margin-top: 5px;
}

.form-group.input-group {
    display: block;
    .input-group-addon {
        width: 30%;
        float: left;
        padding: 11px 12px;
    }
    .form-control {
        display: inline-block;
        width: 70%;
    }
}
.visibility-pwd img{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     /* IE10+ CSS styles go here */
    .login-source.btn-list li{width: 49.4%;}
}